<section>

    <a href="">More news<i class="bi bi-chevron-right"></i></a>
    <hr>

    <div class="wrap-all-content">
        <span class="white-background"></span>

        <div class="card-each">
            <div class="wrap-img"><img src="assets/img/more-news/1.jpg"></div>
            <p> <span>PODCAST</span><br>
                <span></span>
                F1 NATION: Inside Ferrari's Bahrain GP victory party
            </p>
        </div>
        <div class="card-each">
            <div class="wrap-img"><img src="assets/img/more-news/2.jpg"></div>
            <p><span>NEWS</span><br>
                <span></span>
                Mercedes’ Bahrain result ‘extraordinary’, says Russell
            </p>
        </div>
        <div class="card-each">
            <div class="wrap-img"><img src="assets/img/more-news/3.jpg"></div>
            <p> <i class="bi bi-play"></i>
                <span>VIDEO</span><br>
                <span></span>
                Fiery reliability woes cost Gasly points in season opener
            </p>
        </div>
        <div class="card-each">
            <div class="wrap-img"><img src="assets/img/more-news/4.jpg"></div>
            <p><span>NEWS</span><br>
                <span></span>
                Williams retain Jamie Chadwick in Driver Academy for 2022
            </p>
        </div>
    </div>

</section>