<div class="main">
  <div class="row intro-section">
    <div class="col left-col">
      <img src="assets/img/driver-details/tsunoda/yuki.jpeg">
      <div class="driver-name">
        <span>77</span>
        <img src="assets/img/countries/japan.png">
        <h1>Valtteri Bottas</h1>
      </div>
    </div>
    <div class="col right-col">
      <div class="helmet-container">
        <img src="assets/img/driver-details/tsunoda/helmet.png">
        <div class="visit-merch">
          <h2>Official merchandise</h2>
          <h2>Official memorabilia</h2>
        </div>
      </div>
      <div>
        <table class="driver-info">

          <tbody>
            <tr>
              <td>Team</td>
              <td>AlphaTauri</td>
            </tr>
            <tr>
              <td>Country</td>
              <td>Japan</td>
            </tr>
            <tr>
              <td>Podiums</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>44</td>
            </tr>
            <tr>
              <td>Grands Prix entered</td>
              <td>44</td>
            </tr>
            <tr>
              <td>World Championships</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>Highest race finish</td>
              <td>4 (x1)</td>
            </tr>
            <tr>
              <td>Highest grid position</td>
              <td>7</td>
            </tr>
            <tr>
              <td>Date of birth</td>
              <td>11/05/2000</td>
            </tr>
            <tr>
              <td>Place of birth</td>
              <td>Sagamihara, Japan</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="news-section">
    <div class="one-news">
      <div class="wrap-img"><img src="assets/img/driver-details/tsunoda/num-1.jpeg"></div>
      <div class="paragraf">
        <span><i class="bi bi-clock"></i>12 JAN 2023</span>
        <p>'I was one of his biggest supporters' – De Vries excited to team</p>
        <span>NEWS</span>
      </div>
    </div>
    <div class="one-news">
      <div class="wrap-img"><img src="assets/img/driver-details/leclerc/num1.jpeg"></div>
      <div class="paragraf">
        <span><i class="bi bi-clock"></i>07 JAN 2023</span>
        <p>PERSONALITY TEST: Which F1 driver should you support in 2023?</p>
        <span>POLL</span>
      </div>
    </div>
    <div class="one-news">
      <div class="wrap-img"><img src="assets/img/driver-details/tsunoda/num-3.jpeg"></div>
      <div class="paragraf">
        <span><i class="bi bi-clock"></i>23 DEC 2022</span>
        <p>AlphaTauri announce 2023 livery launch date – and confirm name of new car</p>
        <span>NEWS</span>
      </div>
    </div>
    <div class="one-news">
      <div class="wrap-img"><img src="assets/img/driver-details/bottas/num-4.jpeg"></div>
      <div class="paragraf">
        <span><i class="bi bi-clock"></i>01 DEC 2022</span>
        <p>Best drives, biggest shocks, and funniest moments – Our writers</p>
        <span>FEATURE</span>
      </div>
    </div>

  </div>


  <div class="biography-section">
    <h1>Biography</h1>
    <p>In the entire history of Formula 1, no Japanese driver has ever won a World Championship Grand Prix. Could Yuki
      Tsunoda be the first? Red Bull certainly think so, with the youngster very much on the path to their senior team
      if he continues to impress as he has done over the past few years.</p>
    <p>Tsunoda's ascent to the top tier of motorsport was astonishingly rapid: he went from racing in Japanese F4 to a
      Formula 1 seat with AlphaTauri in just over three years, having arrived in Europe in 2019 with no knowledge of the
      circuits.</p>
    <p>But after a slow start in F3, followed by a hugely impressive debut F2 campaign that saw him finish third in the
      championship and pick up three wins along the way, Tsunoda proved he had the speed and the race craft to force his
      way on to the F1 grid.</p>
    <p>He may not have adapted to Grand Prix racing quite as quickly as he did to F2, but given time he could yet find
      himself battling at the very sharp end in a Red Bull.</p>

    <div id="teamCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/img/driver-details/tsunoda/slide-1.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/driver-details/tsunoda/slide-2.jpeg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/driver-details/tsunoda/slide-3.jpeg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/driver-details/tsunoda/slide-4.jpeg" alt="Fourth slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/driver-details/tsunoda/slide-5.jpeg" alt="Fifth slide">
        </div>
      </div>

      <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
  
  <div class="articles-section">
    <h1>YOU MIGHT ALSO LIKE</h1>
    <div class="articles-content">
      <div class="one-article">
        <img src="assets/img/driver-details/verstappen/also-4.jpeg">
        <div class="article-title">
          <span>TEAMS / TEAMS</span>
          <span>AlphaTauri</span>
        </div>
      </div>
      <div class="one-article">
        <img src="assets/img/driver-details/de_vries/de_vries.jpeg">
        <div class="article-title">
          <span>DRIVERS / DRIVERS</span>
          <span>Nyck de Vries</span>
        </div>
      </div>
      <div class="one-article">
        <img src="assets/img/driver-details/verstappen/also-1.jpeg">
        <div class="article-title">
          <span>TEAMS / TEAMS</span>
          <span>Red Bull</span>
        </div>
      </div>
      <div class="one-article">
        <img src="assets/img/driver-details/tsunoda/also-4.jpeg">
        <div class="article-title">
          <span>SCHEDULE / 2023</span>
          <span>Japan</span>
        </div>
      </div>
    </div>


  </div>

</div>