<div class="container">
    <div class="row">
        <img src="assets/img/merch/sale.webp" style="cursor:pointer ;">
    </div>
    <div class="row mt-4 merch-container">
        <h1>Shop By Team</h1>
        <div class="logo">
            <img src="assets/img/logo-in-merch/1.svg">
            <img src="assets/img/logo-in-merch/2.svg">
            <img src="assets/img/logo-in-merch/3.svg">
            <img src="assets/img/logo-in-merch/4.svg">
            <img src="assets/img/logo-in-merch/5.svg">
            <img src="assets/img/logo-in-merch/6.svg">
            <img src="assets/img/logo-in-merch/7.svg">
            <img src="assets/img/logo-in-merch/8.svg">
            <img src="assets/img/logo-in-merch/9.svg">
            <img src="assets/img/logo-in-merch/10.svg">
        </div>
    </div>
    
    <div class="mt-5 merch">
        <div class="merch-item">
            <img src="assets/img/merch/merc-merch.webp">
            <div class="a-p">
                <p>Mercedes Sale</p>
                <a href="">Shop Now</a>
            </div>
        </div>
        <div class="merch-item">
            <img src="assets/img/merch/red-bull-merch.jpeg">
            <div class="a-p">
                <p>Red Bull Sale</p>
                <a href="">Shop Now</a>
            </div>
        </div>
        <div class="merch-item">
            <img src="assets/img/merch/ferrari-merch.jpeg">
            <div class="a-p">
                <p>Ferrari Sale</p>
                <a href="">Shop Now</a>
            </div>
        </div>
        <div class="merch-item">
            <img src="assets/img/merch/mclaren-merch.webp">
            <div class="a-p">
                <p>Mercedes Sale</p>
                <a href="">Shop Now</a>
            </div>
        </div>
        <div class="merch-item">
            <img src="assets/img/merch/f1-merch.jpeg">
            <div class="a-p">
                <p>Mercedes Sale</p>
                <a href="">Shop Now</a>
            </div>
        </div>
        <div class="merch-item">
            <img src="assets/img/merch/women-merch.jpeg">
            <div class="a-p">
                <p>Mercedes Sale</p>
                <a href="">Shop Now</a>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <img src="assets/img/merch/caps.jpeg" >
    </div>
</div>