<div class="ceo">
    <div class="row container1">
        <h2>F1 Store</h2>
        <p class="p-scroll">Welcome to the official Formula One online store, the one-stop shop for the high-octane
            sport of F1,
            specialising in distributing the latest and greatest F1 and Grand Prix merchandise, while stocking an
            unrivalled range of authentic and licenced teamwear, caps, fan apparel and accessories. Celebrate this
            year's world champion with official Max Verstappen 2022 Formula 1 World Champion merchandise and
            memorabilia. Approved by the official FIA Formula One World Championship to supply race fans with the
            ultimate in F1 product choice, the F1 online store has just about everything an F1 enthusiast might need to
            support their favourite teams and drivers, across the thrilling Formula 1 Grand Prix season. The F1 online
            store is also home to exclusive F1 accessories, original F1 gifts, authentic F1 car parts and dynamic F1
            art. F1 followers can honour their all-time heroes with our multiple legacy lines, where iconic figures
            across the sport's rich history, from Ayrton Senna to Alain Prost to Michael Schumacher, are rightfully and
            respectfully represented. With buying and delivery options making purchases easier than ever, customers are
            able to get their hands on F1 merchandise quickly and efficiently at checkout.</p>

        <p>The F1 logo, F1, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, GRAND PRIX and related marks are trade marks
            of Formula One Licensing BV, a Formula 1 company. All rights reserved. </p>
    </div>

    <div class="row container2">
        <div class="col-9 div-with-table">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Customer Service</th>
                        <th scope="col">Worry Free Shopping</th>
                        <th scope="col">Information</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Help</td>
                        <td>Safe Shopping</td>
                        <td>My Account</td>
                    </tr>
                    <tr>
                        <td>Track Order</td>
                        <td>Delivery & Shipping</td>
                        <td>About Us</td>
                    </tr>
                    <tr>
                        <td>Size Chart</td>
                        <td>90-Day Returns</td>
                        <td>Affiliate Program</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col div-without-table">
            <p>Stay updated on sales, new items and more</p>
            <button>SIGN UP & SAVE 10%</button><br>
            <span>FOLLOW US</span>
            <div class="i-group">
                <div><i class="bi bi-twitter"></i></div>
                <div><i class="bi bi-instagram"></i></div>
            </div>
        </div>
    </div>

</div>