<div class="main">
    <div class="row first-section">
        <div class="col left-col">
            <img src="../assets/img/driver-details/norris/norris.jpeg">
            <div class="below-photo1">
                <span>4</span>
                <img src="../assets/img/countries/10.png">
                <h1>Lando Norris</h1>
            </div>
        </div>
        <div class="col right-col">
            <div class="helmet-h2-div">
                <img src="../assets/img/driver-details/norris/helmet.png">
                <div class="h2-div">
                    <h2>Official merchandise</h2>
                    <h2>Official memorabilia</h2>
                </div>
            </div>
            <div>
                <table class="table">

                    <tbody>
                        <tr>
                            <td>Team</td>
                            <td>McLaren</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>United Kingdom</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>428</td>
                        </tr>
                        <tr>
                            <td>Grands Prix entered</td>
                            <td>82</td>
                        </tr>
                        <tr>
                            <td>World Championships</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Highest race finish</td>
                            <td>2 (x1)</td>
                        </tr>
                        <tr>
                            <td>Highest grid position</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td>13/11/1999</td>
                        </tr>
                        <tr>
                            <td>Place of birth</td>
                            <td>Bristol, England</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="second-section">
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/norris/num-1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>11 JAN 2023</span>
                <p>From podium celebrations to battles with champions – The best</p>
                <span>VIDEO</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/norris/num-2.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>10 JAN 2023</span>
                <p>Norris doesn’t get ‘enough credit’ according to Zak Brown as he looks forward</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/leclerc/num1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>07 JAN 2023</span>
                <p>PERSONALITY TEST: Which F1 driver should you support in 2023?</p>
                <span>POLL</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/norris/num-4.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>06 JAN 2023</span>
                <p>McLaren announce launch date for 2023 Formula 1 car in cryptic style</p>
                <span>NEWS</span>
            </div>
        </div>
    </div>


    <div class="third-section">
        <h1>Biography</h1>
       <p>Lando Norris may not be named after Star Wars rebel Lando Calrissian - his Mum just liked the moniker - but he has flair and fighting spirit in bountiful supply.</p>
        <p>McLaren had the British teenager on their books for two years before fast-tracking him into F1’s galaxy of stars in 2019. A firecracker in his junior career, with a penchant for pole positions and wheel-to-wheel tussles, Norris didn’t let them down.</p>
        <p>Paired with the highly-rated – and far more experienced – Carlos Sainz, his rookie season was impressive, Norris edging the Spaniard in their head-to-head qualifying battle, scoring points 11 times, and only narrowly missing out on a top-10 championship placing</p>
        <p>A maiden podium came in 2020, with more following in the subsequent two seasons – he narrowly missed out on a win at Russia 2021 – as he dominated another more senior team mate, Daniel Ricciardo, to firmly establish himself in F1’s top tier.</p>
        <p>An exciting talent on track, away from it Norris brims with a modest charm and an artistic side sees him design and paint his own race gear as a hobby. The focus for the future is allying artistry and ambition on track as McLaren rely on the promise of youth to take them back to the top.</p>
        <p>Norris hopes the downforce will be with him…</p>

       
        <div id="teamCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../assets/img/driver-details/norris/slide-1.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/driver-details/norris/slide-2.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/driver-details/norris/slide-3.jpeg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/driver-details/norris/slide-4.jpeg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/driver-details/norris/slide-5.jpeg" alt="Fifth slide">
                </div>
            </div>
    
            <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>

    </div>

    <div class="fourth-section">
        <h1>YOU MIGHT ALSO LIKE</h1>
        <div class="also-divs">
            <div class="also-div">
                <img src="../assets/img/driver-details/norris/also-1.jpeg">
                <div class="span-group">
                    <span>TEAMS / TEAMS</span>
                    <span>McLaren</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/driver-details/piastri/piastri.jpeg">
                <div class="span-group">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Oscar Piastri</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/driver-details/norris/also-3.jpeg">
                <div class="span-group">
                    <span>SCHEDULE / 2023</span>
                    <span>Great Britain</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/driver-details/norris/also-4.jpeg">
                <div class="span-group">
                    <span>SCHEDULE / 2023</span>
                    <span>Australia</span>
                </div>
            </div>
        </div>
    </div>

</div>