@mixin driver() {
    .main {
        border: 40px solid #e3e1df;

        .intro-section {

            .left-col {
                padding-right: 0;

                img {
                    width: 700px;
                }

                .driver-name {
                    background-color: white;
                    position: absolute;
                    top: 535px;
                    left: 40px;
                    width: 700px;
                    padding-bottom: 100px;
                    height: 260px;
                    padding: 30px;

                    span {
                        font-size: 42px;
                        color: grey;
                        margin-right: 10px;
                    }

                    img {
                        height: 32px;
                        width: 48px;
                        border-radius: 5px;
                        border: 1px solid #e7e7e7;
                    }

                    h1 {
                        font-size: 45px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }
            }

            .right-col {
                font-size: 21px;
                padding: 35px;

                .helmet-container {
                    margin-bottom: 20px;

                    img {
                        height: 130px;
                        width: 200px;
                    }

                    .visit-merch {
                        display: inline-block;
                        margin-left: 120px;
                        font-weight: bold;
                        color: red;

                        h2:first-child {
                            margin-bottom: 10px;
                        }
                    }
                }

                .driver-info {

                    td {
                        padding: 4px;
                        font-size: 19px;
                    }


                    td:nth-of-type(1) {
                        font-weight: bold;
                        width: 64%;
                    }
                }

            }
        }

        .news-section {
            display: flex;
            justify-content: space-between;
            background-color: white;
            margin-bottom: 200px;

            .one-news {
                width: 334px;
                cursor: pointer;
                position: relative;

                .wrap-img {
                    overflow: hidden;

                    img {
                        height: 190px;
                        width: 335px;
                        transition: transform 0.5s;
                        object-fit: cover;
                    }
                }

                .paragraf {
                    padding: 30px 20px 0px 20px;
                    border-left: 2px solid #f7f4f1;
                    border-right: 2px solid #f7f4f1;
                    border-top: none;
                    background-color: white;
                    position: absolute;
                    bottom: -190px;
                    left: 0;
                    height: 190px;
                    transition: .5s;

                    span:first-child {
                        color: grey;
                        font-size: 14px;

                        i {
                            vertical-align: baseline;
                            padding-right: 5px;
                        }
                    }

                    p {
                        font-size: 20px;
                        margin: 10px 0;
                    }

                    span:last-child {
                        color: white;
                    }
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }

                    .paragraf {
                        background-color: black;
                        color: white;
                        border-color: black;
                        height: 205px;

                        span:first-child {
                            color: white;
                        }

                        span:last-child {
                            color: grey;
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }
                }
            }
        }


        .biography-section {
            padding: 50px;

            h1 {
                font-size: 35px;
                font-weight: 500;
            }

            p {
                margin-top: 25px;
                font-size: 17px;
                line-height: 27px;
            }

            .carousel {
                margin-top: 60px;
            }
        }

        .articles-section {
            background-color: #e3e1df;

            h1 {
                font-size: 33px;
                font-weight: bold;
                padding: 50px 0;
            }

            .articles-content {
                display: flex;
                justify-content: space-between;
                cursor: pointer;

                .one-article {
                    position: relative;
                    opacity: .99;
                    overflow: hidden;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;

                    &:before {
                        content: '';
                        background: linear-gradient(to bottom,
                                rgba(0, 0, 0, 0) 0%,
                                rgba(0, 0, 0, 1) 90%);
                        width: 100%;
                        height: 50%;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        z-index: 2;
                        transition-duration: .5s;
                    }

                    img {
                        height: 320px;
                        width: 325px;
                        object-fit: cover;
                    }

                    .article-title {
                        padding: 20px;
                        color: #fff;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 2;
                        transition: .3s;

                        span:first-child {
                            color: #b0aeae;
                            padding-left: 12px;
                            font-size: 13px;
                            display: block;
                            margin-bottom: 10px;
                        }

                        span:last-child {
                            font-size: 20px;
                        }

                    }

                    &:nth-child(2) {
                        img {
                            object-fit: fill;
                        }
                    }

                    &:hover {
                        .article-title {
                            padding-bottom: 45px;
                        }

                        &:before {
                            height: 75%;
                            top: 25%;
                        }
                    }
                }
            }

        }
    }
}





@mixin team() {
    .main {
        background-color: #f7f4f1;
        padding: 0px 50px 0 50px;

        h1 {
            display: inline-block;
            font-size: 44px;
            padding: 35px 0;

        }

        .first-section {
            background-color: white;
            padding: 0 15px;

            .left-col {
                padding: 30px;

                table {

                    tr {
                        img {
                            height: 170px;
                            width: 270px;
                            display: block;
                            margin: 0 auto;
                            object-fit: contain;
                        }

                        .visit-merch {
                            display: grid;
                            color: red;
                            font-weight: bold;
                            font-size: 17px;

                            h2 {
                                padding-bottom: 15px;
                            }
                        }

                        td {
                            padding: 4px;
                        }

                        td:first-child {
                            font-weight: bold;
                            font-size: 17px;
                        }

                        td:last-child {
                            font-size: 15px;
                        }
                    }
                }
            }

            .right-col {
                .teammates {
                    display: flex;

                    .teammate-div {
                        border-right: 2px solid #e2e2e2;
                        border-left: 2px solid #e2e2e2;
                        cursor: pointer;

                        .wrap-img {
                            overflow: hidden;
                            width: 300px;
                            height: 400px;

                            img {
                                width: 170%;
                                height: 130%;
                                position: relative;
                                left: 50%;
                                top: -15px;
                                transform: translateX(-50%);
                            }
                        }

                        .opis {
                            display: flex;
                            flex-direction: column;
                            padding: 40px;

                            span:first-child {
                                font-size: 40px;
                                font-weight: bold;
                                margin-bottom: 20px;
                            }

                            span:nth-child(2) {
                                font-size: 22px;
                            }

                            span:last-child {
                                font-size: 12px;
                                color: grey;
                                text-transform: uppercase;
                                margin-top: 3px;
                            }
                        }

                        &:hover {
                            .wrap-img {
                                img {
                                    // transform: scale(1.05);
                                    // left: -36%;
                                    // transition: .3s;
                                }
                            }

                            .opis {
                                background-color: black;
                                color: white;
                                border-color: black;
                            }
                        }
                    }

                }
            }
        }


        .third-section {
            padding: 70px 50px;
            background-color: white;

            h1 {
                font-size: 35px;
            }

            p {
                margin: 30px 0;
                font-size: 18px;
            }

            span {
                font-weight: bold;
            }

            a {
                display: table;
                margin-bottom: 30px;
                text-decoration: none;
                color: black;
                font-weight: bold;

                &:hover {
                    color: red;
                }
            }

            a:last-child {
                font-size: 18px;
                margin-bottom: 0;
            }
        }


        .fourth-section {
            display: flex;
            justify-content: space-between;
            background-color: white;
            margin-bottom: 200px;

            .one-div {
                width: 334px;
                cursor: pointer;
                position: relative;

                .wrap-img {
                    overflow: hidden;

                    img {
                        height: 190px;
                        width: 335px;
                        transition: transform 0.5s;
                        object-fit: cover;
                    }
                }

                .paragraf {
                    padding: 30px 20px 0px 20px;
                    border-left: 2px solid #f7f4f1;
                    border-right: 2px solid #f7f4f1;
                    border-top: none;
                    background-color: white;
                    position: absolute;
                    bottom: -190px;
                    left: 0;
                    height: 190px;
                    transition: .7s;

                    span:first-child {
                        color: grey;
                        font-size: 14px;

                        i {
                            vertical-align: baseline;
                            padding-right: 5px;
                        }
                    }

                    p {
                        font-size: 20px;
                        margin: 10px 0;
                    }

                    span:last-child {
                        display: none;
                    }
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }

                    .paragraf {
                        background-color: black;
                        color: white;
                        border-color: black;
                        height: 205px;

                        span:first-child {
                            color: white;
                        }

                        span:last-child {
                            color: grey;
                            display: block;
                        }
                    }
                }
            }
        }

        .fifth-section {

            h1 {
                font-size: 33px;
                font-weight: bold;
                padding: 50px 0;
            }

            .also-divs {
                display: flex;
                justify-content: space-between;
                cursor: pointer;

                .also-div {
                    position: relative;
                    opacity: .99;
                    overflow: hidden;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;

                    &:before {
                        content: '';
                        background: linear-gradient(to bottom,
                                rgba(0, 0, 0, 0) 0%,
                                rgba(0, 0, 0, 1) 90%);
                        width: 100%;
                        height: 50%;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        z-index: 2;
                        transition-duration: .5s;
                    }

                    img {
                        height: 320px;
                        width: 325px;
                        object-fit: cover;
                    }

                    .span-group {
                        padding: 20px;
                        color: #fff;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 2;
                        transition: .3s;

                        span:first-child {
                            color: #b0aeae;
                            padding-left: 12px;
                            font-size: 13px;
                            display: block;
                            margin-bottom: 10px;
                        }

                        span:last-child {
                            font-size: 21px;
                        }

                    }

                    &:first-child,
                    &:nth-child(2) {
                        img {
                            object-fit: fill;
                        }
                    }

                    &:hover {
                        .span-group {
                            padding-bottom: 45px;
                        }

                        &:before {
                            height: 75%;
                            top: 25%;
                        }
                    }

                }
            }

        }
    }
}



@mixin teamColors() {

    .ferrari-color {
        background-color: #e23721;
    }

    .red-bull-color {
        background-color: #3671C6;
    }

    .merc-color {
        background-color: #6CD3BF;
    }

    .alpine-color {
        background-color: #2293D1;
    }

    .haas-color {
        background-color: #B6BABD;
    }

    .alfa-romeo-color {
        background-color: #C92D4B;
    }

    .mclaren-color {
        background-color: #F58020;
    }

    .aston-martin-color {
        background-color: #358C75;
    }

    .alpha-tauri-color {
        background-color: #5E8FAA;
    }

    .williams-color {
        background-color: #37BEDD;
    }
}



@mixin teamColorsOnHover() {

    .hover-ferrari:hover {
        border-color: #e23721;
    }

    .hover-red-bull:hover {
        border-color: #3671C6;
    }

    .hover-mercedes:hover {
        border-color: #6CD3BF;
    }

    .hover-alpine:hover {
        border-color: #2293D1;
    }

    .hover-haas:hover {
        border-color: #B6BABD;
    }

    .hover-alfa:hover {
        border-color: #C92D4B;
    }

    .hover-mclaren:hover {
        border-color: #F58020;
    }

    .hover-aston:hover {
        border-color: #358C75;
    }

    .hover-alphatauri:hover {
        border-color: #5E8FAA;
    }

    .hover-williams:hover {
        border-color: #37BEDD;
    }
}