<div class="all">

    <h1>2022 Constructor Standings</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">POS</th>
                <th scope="col">TEAM</th>
                <th scope="col">PTS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>RED BULL RACING RBPT</td>
                <td>759</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>FERRARI</td>
                <td>554</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>MERCEDES</td>
                <td>515</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>ALPINE RENAULT</td>
                <td>173</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>MCLAREN MERCEDES</td>
                <td>159</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>ALFA ROMEO FERRARI</td>
                <td>55</td>
            </tr>
             <tr>
                <th scope="row">7</th>
                <td>ASTON MARTIN ARAMCO MERCEDES</td>
                <td>55</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>HAAS FERRARI</td>
                <td>37</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>ALPHATAURI RBPT</td>
                <td>35</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>WILLIAMS MERCEDES</td>
                <td>8</td>
            </tr>

        </tbody>
    </table>
</div>