<div class="main">
    <div class="row first-section">
        <div class="col left-col">
            <img src="../assets/img/driver-details/perez/perez.jpeg">
            <div class="below-photo1">
                <span>11</span>
                <img src="../assets/img/countries/mexico.webp">
                <h1>Sergio Perez</h1>
            </div>
        </div>
        <div class="col right-col">
            <div class="helmet-h2-div">
                <img src="../assets/img/driver-details/perez/helmet.png">
                <div class="h2-div">
                    <h2>Official merchandise</h2>
                    <h2>Official memorabilia</h2>
                </div>
            </div>
            <div>
                <table class="table">

                    <tbody>
                        <tr>
                            <td>Team</td>
                            <td>Red Bull Racing</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>Mexico</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>1201</td>
                        </tr>
                        <tr>
                            <td>Grands Prix entered</td>
                            <td>236</td>
                        </tr>
                        <tr>
                            <td>World Championships</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Highest race finish</td>
                            <td>1 (x4)</td>
                        </tr>
                        <tr>
                            <td>Highest grid position</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td>26/01/1990</td>
                        </tr>
                        <tr>
                            <td>Place of birth</td>
                            <td>Guadalajara, Mexico</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="second-section">

        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/perez/num-1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>09 JAN 2023</span>
                <p>‘I’m pretty much at my best’ – Perez setting his sights on title challenge in</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/verstappen/1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>08 JAN 2023</span>
                <p>Newey reveals ‘pretty depressing’ reason for Red Bull’s early turbo-hybrid</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/leclerc/num1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>07 JAN 2023</span>
                <p>PERSONALITY TEST: Which F1 driver should you support in 2023?</p>
                <span>POLL</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/perez/num-4.webp"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>30 DEC 2022</span>
                <p>WATCH: From Saudi pole heroics to a brace of street circuit wins – Enjoy the</p>
                <span>VIDEO</span>
            </div>
        </div>
    </div>


    <div class="third-section">
        <h1>Biography</h1>
        <p>He’s the fighter with a gentle touch from the land of the Lucha Libre.</p>
        <p>Perez’s reputation in F1 has been built on opposite approaches to Grand Prix racing. On the one hand, he is a
            punchy combatant who wrestles his way through the pack and into the points. Never afraid to add a bit of
            spice to his on-track encounters, even his team mates don’t always escape the Mexican’s heat.</p>
        <p>Then on the other hand, Perez is a smooth operator, a master at managing tyres to eke out extra performance
            and give him the upper hand on strategy. A firm favourite on the grid after his time with Sauber, McLaren,
            Force India and Racing Point, Perez has matured into an analytical racer and team player.</p>
        <p>A proud countryman, the Guadalajara gunslinger has amassed more points than any other Mexican in the history
            of F1. In Sakhir 2020 he also matched hero and compatriot Pedro Rodriguez by taking the chequered flag in
            first – a performance that landed him a seat with title contenders Red Bull.</p>
        <p>There he provided strong support to Max Verstappen’s 2021 and '22 championship-winning campaigns, also adding
            a further three victories to his own tally. More wins may not be assured, especially with Verstappen as team
            mate, but Perez working hard and racing with his heart are.</p>

            <div id="teamCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../assets/img/driver-details/perez/slide-1.jpeg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../assets/img/driver-details/perez/slide-2.jpeg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../assets/img/driver-details/perez/slide-3.jpeg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../assets/img/driver-details/perez/slide-4.jpeg" alt="Fourth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../assets/img/driver-details/perez/slide-5.jpeg" alt="Fifth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../assets/img/driver-details/perez/slide-6.jpeg" alt="Sixth slide">
                    </div>
                </div>
    
                <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>

    </div>

    <div class="fourth-section">
        <h1>YOU MIGHT ALSO LIKE</h1>
        <div class="also-divs">
            <div class="also-div">
                <img src="../assets/img/driver-details/verstappen/also-1.jpeg">
                <div class="span-group">
                    <span>TEAMS / TEAMS</span>
                    <span>Red Bull</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/driver-details/verstappen/verstappen.jpeg">
                <div class="span-group">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Max Verstappen</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/driver-details/perez/also-3.jpeg">
                <div class="span-group">
                    <span>SCHEDULE / 2023</span>
                    <span>Mexico</span>
                </div>
            </div>
        </div>
    </div>

</div>