<section class="all-races">

    <div class="one-race">
        <img src="assets/img/countries/2-1 .jpg">
        <p class="place">BAHRAIN</p><br>
        <p class="date">20</p><br>
        <p>MAR</p>
    </div>

    <div class="one-race">
        <img src="assets/img/countries/1.png">
        <p class="place">SAUDI ARABIA</p><br>
        <p class="date">27</p><br>
        <p>MAR</p>
    </div>

    <div class="one-race">
        <img src="assets/img/countries/3.jpg">
        <p class="place">AUSTRALIA</p><br>
        <p class="date">10</p><br>
        <p>APR</p>
    </div>

    <div class="one-race">
        <img src="assets/img/countries/4.png">
        <p class="place">ITALY</p><br>
        <p class="date">24</p><br>
        <p>APR</p>
    </div>

    <div class="one-race">
        <img src="assets/img/countries/1.png">
        <p class="place">UNITED STATES</p><br>
        <p class="date">08</p><br>
        <p>MAY</p>
    </div>

    <div class="one-race">
        <img src="assets/img/countries/6.png">
        <p class="place">SPAIN</p><br>
        <p class="date">22</p><br>
        <p>MAY</p>
    </div>

    <div class="one-race">
        <img src="assets/img/countries/7.png">
        <p class="place">MONACO</p><br>
        <p class="date">29</p><br>
        <p>MAY</p>
    </div>

    <div class="one-race">
        <img src="assets/img/countries/8.png">
        <p class="place">AZERBAIJAN</p><br>
        <p class="date">12</p><br>
        <p>JUN</p>
    </div>

    <div class="one-race">
        <img src="assets/img/countries/9.png">
        <p class="place">CANADA</p><br>
        <p class="date">19</p><br>
        <p>JUN</p>
    </div>

    <div class="one-race">
        <img src="assets/img/countries/10.png">
        <p class="place">GREAT BRITAIN</p><br>
        <p class="date">03</p><br>
        <p>JUL</p>
    </div>


</section>
