<section>

    <div class="trke">
        <img src="../assets/img/countries/2-1 .jpg">
        <p class="imeDrzava">BAHRAIN</p><br>
        <p class="datum">20</p><br>
        <p>MAR</p>
    </div>

    <div class="trke">
        <img src="../assets/img/countries/1.png">
        <p class="imeDrzava">SAUDI ARABIA</p><br>
        <p class="datum">27</p><br>
        <p>MAR</p>
    </div>

    <div class="trke">
        <img src="../assets/img/countries/3.jpg">
        <p class="imeDrzava">AUSTRALIA</p><br>
        <p class="datum">10</p><br>
        <p>APR</p>
    </div>

    <div class="trke">
        <img src="../assets/img/countries/4.png">
        <p class="imeDrzava">ITALY</p><br>
        <p class="datum">24</p><br>
        <p>APR</p>
    </div>

    <div class="trke">
        <img src="../assets/img/countries/1.png">
        <p class="imeDrzava">UNITED STATES</p><br>
        <p class="datum">08</p><br>
        <p>MAY</p>
    </div>

    <div class="trke">
        <img src="../assets/img/countries/6.png">
        <p class="imeDrzava">SPAIN</p><br>
        <p class="datum">22</p><br>
        <p>MAY</p>
    </div>

    <div class="trke">
        <img src="../assets/img/countries/7.png">
        <p class="imeDrzava">MONACO</p><br>
        <p class="datum">29</p><br>
        <p>MAY</p>
    </div>

    <div class="trke">
        <img src="../assets/img/countries/8.png">
        <p class="imeDrzava">AZERBAIJAN</p><br>
        <p class="datum">12</p><br>
        <p>JUN</p>
    </div>

    <div class="trke">
        <img src="../assets/img/countries/9.png">
        <p class="imeDrzava">CANADA</p><br>
        <p class="datum">19</p><br>
        <p>JUN</p>
    </div>

    <div class="trke">
        <img src="../assets/img/countries/10.png">
        <p class="imeDrzava">GREAT BRITAIN</p><br>
        <p class="datum">03</p><br>
        <p>JUL</p>
    </div>


</section>
