.all-races {
    background-color: #15151e;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;

    .one-race {
        width: 10%;
        cursor: pointer;
        position: relative;
        padding-top: 110px;
        padding-bottom: 260px;
        border-right: 1px solid #38383f;
        border-bottom: 1px solid #38383f;
        border-bottom-right-radius: 10px;

        img {
            height: 30px;
            width: 50px;
            border-radius: 5px;
            display: block;
            margin: 0 auto;
        }

        p {
            text-align: center;
            color: #949498;
        }

        .place {
            padding-top: 25px;
            font-weight: 700;
            font-size: 13px;
        }

        .date {
            color: white;
            font-size: 40px;
            font-weight: 600;
        }

        &:hover {
            .place {
                color: white;
            }
        }

    }

}