<div class="naslov">
    <h1>ABU DHABI <br> 2022</h1>
    <p>FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX 2022<i class="bi bi-chevron-right"></i></p>
</div>

<div class="tabela">
    <ul>
        <li>
            <a [routerLink]="['/f1/max-verstappen']" href="">
                <div>
                    <span class="broj">1</span> <span class="crtica boja-red-bull"></span><span>Max</span><span class="lastname">Verstappen</span>
                    <span class="team">Red Bull Racing</span>
                </div>
                <div>
                    <span class="second-span">25 pts</span>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/f1/charles-leclerc']" href="">
                <div>
                    <span class="broj">2</span> <span class="crtica boja-ferari"></span><span>Charles</span><span class="lastname">Leclerc</span>
                    <span class="team">Ferrari</span>
                </div>
                <div>
                    <span class="second-span">18 pts</span>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/f1/sergio-perez']" href="">
                <div>
                    <span class="broj">3</span> <span class="crtica boja-red-bull"></span><span>Sergio</span><span class="lastname">Perez</span>
                    <span class="team">Red Bull</span>
                </div>
                <div>
                    <span class="second-span">15 pts</span>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/f1/carlos-sainz']" href="">
                <div>
                    <span class="broj">4</span> <span class="crtica boja-ferari"></span><span>Carlos</span><span class="lastname">Sainz</span>
                    <span class="team">Ferrari</span>
                </div>
                <div>
                    <span class="second-span">12 pts</span>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/f1/george-russell']" href="">
                <div>
                    <span class="broj">5</span> <span class="crtica boja-merc"></span><span>George</span><span class="lastname">Russell</span>
                    <span class="team">Mercedes</span>
                </div>
                <div>
                    <span class="second-span">10 pts</span>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/f1/lando-norris']" href="">
                <div>
                    <span class="broj">6</span> <span class="crtica boja-mclaren"></span><span>Lando</span><span class="lastname">Norris</span>
                    <span class="team">McLaren</span>
                </div>
                <div>
                    <span class="second-span">9 pts</span>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/f1/esteban-ocon']" href="">
                <div>
                    <span class="broj">7</span> <span class="crtica boja-alpine"></span><span>Esteban</span><span class="lastname">Ocon</span>
                    <span class="team">Alpine</span>
                </div>
                <div>
                    <span class="second-span">6 pts</span>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/f1/lewis-hamilton']" href="">
                <div>
                    <span class="broj">8</span> <span class="crtica boja-merc"></span><span>Lance</span><span class="lastname">Stroll</span>
                    <span class="team">Aston Martin</span>
                </div>
                <div>
                    <span class="second-span">4 pts</span>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <span class="broj">9</span> <span class="crtica boja-haas"></span><span>Daniel</span><span class="lastname">Ricciardo</span>
                    <span class="team">McLaren</span>
                </div>
                <div>
                    <span class="second-span">2 pts</span>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <span class="broj">10</span> <span class="crtica boja-alfa"></span> <span>Sebastian</span><span class="lastname">Vettel</span>
                    <span class="team">Aston Martin</span> </div>
                <div>
                    <span class="second-span">1 pts</span>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="full-standings"><a href="">RACE RESULTS<i class="bi bi-chevron-right"></i></a></div>
