<div class="all">
    
    <h1>2022 Driver Standings</h1>
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">POS</th>
            <th scope="col">DRIVER</th>
            <th scope="col">NATIONALITY</th>
            <th scope="col">CAR</th>
            <th scope="col">PTS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td [routerLink]="['/f1/max-verstappen']">Max Verstappen</td>
            <td>NED</td>
            <td>RED BULL RACING RBPT</td>
            <td>454</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td [routerLink]="['/f1/charles-leclerc']">Charles Leclerc</td>
            <td>MON</td>
            <td>FERRARI</td>
            <td>308</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td [routerLink]="['/f1/sergio-perez']">Sergio Perez</td>
            <td>MEX</td>
            <td>RED BULL RACING RBPT</td>
            <td>305</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td [routerLink]="['/f1/george-russell']">George Russell</td>
            <td>GBR</td>
            <td>MERCEDES</td>
            <td>275</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td [routerLink]="['/f1/carlos-sainz']">Carlos Sainz</td>
            <td>ESP</td>
            <td>FERRARI</td>
            <td>246</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td [routerLink]="['/f1/lewis-hamilton']">Lewis Hamilton</td>
            <td>GBR</td>
            <td>MERCEDES</td>
            <td>240</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td [routerLink]="['/f1/lando-norris']">Lando Norris</td>
            <td>GBR</td>
            <td>MCLAREN MERCEDES</td>
            <td>122</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td [routerLink]="['/f1/esteban-ocon']">Esteban Ocon</td>
            <td>FRA</td>
            <td>ALPINE RENAULT</td>
            <td>92</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td [routerLink]="['/f1/fernando-alonso']">Fernando Alonso</td>
            <td>ESP</td>
            <td>ALPINE RENAULT</td>
            <td>81</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td [routerLink]="['/f1/valtteri-bottas']">Valtteri Bottas</td>
            <td>FIN</td>
            <td>ALFA ROMEO FERRARI</td>
            <td>49</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Daniel Ricciardo</td>
            <td>AUS</td>
            <td>MCLAREN MERCEDES</td>
            <td>37</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>Sebastian Vettel</td>
            <td>GER</td>
            <td>ASTON MARTIN ARAMCO MERCEDES</td>
            <td>37</td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td [routerLink]="['/f1/kevin-magnussen']">Kevin Magnussen</td>
            <td>DEN</td>
            <td>HAAS FERRARI</td>
            <td>25</td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td [routerLink]="['/f1/pierre-gasly']" >Pierre Gasly</td>
            <td>FRA</td>
            <td>ALPHATAURI RBPT	</td>
            <td>23</td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td [routerLink]="['/f1/lance-stroll']">Lance Stroll</td>
            <td>CAN</td>
            <td>ASTON MARTIN ARAMCO MERCEDES</td>
            <td>18</td>
          </tr>
          <tr>
            <th scope="row">16</th>
            <td>Mick Schumacher</td>
            <td>GER</td>
            <td>HAAS FERRARI</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">17</th>
            <td [routerLink]="['/f1/yuki-tsunoda']">Yuki Tsunoda</td>
            <td>JPN</td>
            <td>ALPHATAURI RBPT</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">18</th>
            <td [routerLink]="['/f1/guanyu-zhou']">Zhou Guanyu</td>
            <td>CHN</td>
            <td>ALFA ROMEO FERRARI</td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row">19</th>
            <td [routerLink]="['/f1/alex-albon']">Alexander Albon</td>
            <td>THA</td>
            <td>WILLIAMS MERCEDES</td>
            <td>4</td>
          </tr>
          <tr>
            <th scope="row">20</th>
            <td>Nicholas Latifi</td>
            <td>CAN</td>
            <td>WILLIAMS MERCEDES</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">21</th>
            <td [routerLink]="['/f1/nick-de-vries']">Nyck De Vries</td>
            <td>NED</td>
            <td>WILLIAMS MERCEDES</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">22</th>
            <td [routerLink]="['/f1/nico-hulkenberg']">Nico Hulkenberg</td>
            <td>GER</td>
            <td>ASTON MARTIN ARAMCO MERCEDES</td>
            <td>0</td>
          </tr>
    
        </tbody>
      </table>
</div>