<section>

    <div class="wrap-all-content">
        <h2>Editor's Picks</h2>

        <div class="col-6">
            <iframe width="600" height="500" src="https://www.youtube.com/embed/VJgdOMXhEj0"
                title="Formula 1 cars, explained for rookies (with Max Verstappen)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>



        <div class="col-6 news">
            <div class="news-each">
                <div class="wrap-img"><img src="assets/img/mini1.jpg"></div>
                <p><span>FEATURE</span><br>
                    What the teams said – Race day in Bahrain</p>
            </div>
            <div class="news-each">
                <div class="wrap-img"><img src="assets/img/mini2.jpg"></div>
                <p> <i class="bi bi-play"></i>
                    <span>VIDEO</span><br>
                    HIGHLIGHTS: All the action from the season-opening Bahrain Grand Prix
                </p>
            </div>
            <div class="news-each">
                <p> <span>REPORT</span><br>
                    F2: Pourchaire heads Red Bull juniors Lawson and Vips in Feature Race at Sakhir</p>
            </div>
            <div class="news-each">
                <p> <span>NEWS</span><br>
                    Introducing the new Crypto.com Overtake King Award
                </p>
            </div>
        </div>

    </div>
</section>