<div class="main">
    <h1>McLaren</h1>

    <div class="row first-section">
        <div class="col left-col">
           
                <table class="table">

                    <tbody>
                        <tr>
                            <td><img src="../assets/img/logos/mclaren.png"></td>
                            <td><div class="h2-div">
                                <h2>Year-by-year profile</h2>
                                <h2>Official Merchandise</h2>
                                <h2>Results Archive</h2>
                            </div></td>
                        </tr>
                        <tr>
                            <td>Full Team Name</td>
                            <td>McLaren Formula 1 Team</td>
                        </tr>
                        <tr>
                            <td>Base</td>
                            <td>Woking, United Kingdom</td>
                        </tr>
                        <tr>
                            <td>Team Chief</td>
                            <td>Andrea Stella</td>
                        </tr>
                        <tr>
                            <td>Technical Chief</td>
                            <td>James Key</td>
                        </tr>
                        <tr>
                            <td>Chassis</td>
                            <td>TBC</td>
                        </tr>
                        <tr>
                            <td>Power Unit</td>
                            <td>Mercedes</td>
                        </tr>
                        <tr>
                            <td>First Team Entry</td>
                            <td>1966</td>
                        </tr>
                        <tr>
                            <td>World Championships</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Highest Race Finish</td>
                            <td>1 (x183)</td>
                        </tr>
                        <tr>
                            <td>Pole Positions</td>
                            <td>156</td>
                        </tr>
                        <tr>
                            <td>Fastest Laps</td>
                            <td>162</td>
                        </tr>
                    </tbody>
                </table>
        </div>


        <div class="col right-col">
            <div class="teammates">
                <div class="teammate-div">
                    <div class="wrap-img"><img src="../assets/img/driver-details/norris/norris.jpeg"></div>
                    <div class="opis">
                        <span>4</span>
                        <span>Lando Norris</span>
                        <span>McLaren</span>
                    </div>
                </div>
                <div class="teammate-div">
                    <div class="wrap-img"><img src="../assets/img/driver-details/piastri/piastri.jpeg"></div>
                    <div class="opis">
                        <span>81</span>
                        <span>Oscar Piastri</span>
                        <span>McLaren</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row second-section">
        <div id="teamCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../assets/img/team-details/mclaren/slide-1.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/team-details/mclaren/slide-2.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/team-details/mclaren/slide-3.jpeg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/team-details/mclaren/slide-4.jpeg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/team-details/mclaren/slide-5.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/team-details/mclaren/slide-6.jpeg" alt="Sixth slide">
                </div>
            </div>

            <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>

    </div>

    <div class="third-section">
        <h1>In profile</h1>
        <p>Since entering the sport in 1966 under the guidance and restless endeavour of eponymous founder Bruce, McLaren's success has been nothing short of breathtaking. Five glittering decades have yielded countless victories, pole positions and podiums, not to mention eight constructors' championships. What's more, some of the sport's greatest drivers made their names with the team, including Emerson Fittipaldi, Ayrton Senna, Mika Hakkinen and Lewis Hamilton...
        </p>
        <span>2022</span>
        <p>Drop to P5 in the standings behind Alpine, with Lando Norris scoring their sole podium at Imola – and 122 of their 159 points. Daniel Ricciardo fails to get to grips with the Mercedes-powered MCL36 and departs the team at the end of season.</p>
        <a href="">Official McLaren memorabilia ></a>
        <span>2021</span>
        <p>Record their first win since 2012, with Daniel Ricciardo and Lando Norris taking the year’s only one-two result by any team at Monza. Nevertheless, drop to fourth overall after coming off worse in season-long duel for P3 with Ferrari.</p>
        <span>2020</span>
        <p>Quick and consistent, beat their upper-midfield rivals to P3 in the standings as Ferrari falter, with Carlos Sainz and Lando Norris both scoring podium finishes. Agree deal to use Mercedes power from 2021</p>
        <span>2019</span>
        <p>With the Renault partnership starting to gel, and rookie star Lando Norris pushing the experienced Carlos Sainz hard, re-establish themselves as clear ‘best of the rest’ behind the big three teams. Third place in Brazil marks their first podium in five years.</p>
        <a href="">Read McLaren's full year-by-year profile</a>

    </div>
  
    <div class="fourth-section">
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/team-details/mclaren/num-1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>15 JAN 2023</span>
                <p>BARRETTO: Teams were fighting over him in 2022 – but what can we expect</p>
                <span>FEATURE</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/team-details/redbull/num-2.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>11 JAN 2023</span>
                <p>Why Ricciardo reckons his McLaren struggles can give replacement Piastri a</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/norris/num-1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>11 JAN 2023</span>
                <p>From podium celebrations to battles with champions – The best</p>
                <span>VIDEO</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/norris/num-2.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>10 JAN 2023</span>
                <p>Norris doesn’t get ‘enough credit’ according to Zak Brown as he looks forward</p>
                <span>NEWS</span>
            </div>
        </div>
    </div>


    <div class="fifth-section">
        <h1>YOU MIGHT ALSO LIKE</h1>
        <div class="also-divs">
            <div class="also-div">
                <img src="../assets/img/driver-details/norris/norris.jpeg">
                <div class="span-group">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Lando Norris</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/driver-details/piastri/piastri.jpeg">
                <div class="span-group">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Oscar Piastri</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/team-details/mclaren/also-3.jpeg">
                <div class="span-group">
                    <span>TEAM / FEATURE</span>
                    <span>McLaren - Year by Year</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/team-details/mclaren/also-4.jpeg">
                <div class="span-group">
                    <span>DRIVERS / FEATURE</span>
                    <span>Ayrton Senna - 1988, 1990, 1991 </span>
                </div>
            </div>
           
        </div>
    </div>
</div>