.main {
    letter-spacing: 0;

    .full-form {
        background-color: #f7f4f1;
        padding: 30px;

        .register-form {
            width: 45%;
            margin: 0 auto;
            padding: 10px 20px;
            border: 1px solid black;
            border-radius: 10px;

            h1 {
                font-size: 34px;
                font-weight: bold;
                padding: 10px 0 20px 0;
                border-bottom: 1px solid #d0d0d2;
                margin-bottom: 35px;
            }

            form {
                label {
                    padding-left: 10px;
                    font-size: 18px;
                }

                input[type=text],
                input[type=password],
                input[type=email],
                select {
                    padding: 13px 10px;
                    margin: 10px 0 25px 0;
                    border: 1px solid black;
                    border-radius: 10px;
                }

                #date {
                    width: 40%;
                }

                .select-title {
                    width: 40%;
                    position: relative;

                    i {
                        position: absolute;
                        top: 45px;
                        font-size: 18px;
                        left: 200px;
                    }
                }

                .select-country {
                    position: relative;
                    i {
                        position: absolute;
                        top: 45px;
                        font-size: 18px;
                        right: 10px;
                    }
                }

                .password {
                    position: relative;

                    i {
                        position: absolute;
                        top: 43px;
                        right: 12px;
                        font-size: 23px;
                    }
                }

                .password-contain {
                    color: grey;
                    font-size: 18px;
                    margin-left: 10px;

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        margin: 10px 0;

                        li {
                            list-style: disc;
                            margin: 7px 18px;
                        }
                    }
                }

                .form-check {
                    margin-bottom: 20px;
                }

                a {
                    text-decoration: none;
                    border-bottom: 2px solid red;
                    font-size: 17px;
                    color: black;
                    padding: 5px;

                    &:hover {
                        color: red;
                    }
                }

                button {
                    background-color: red;
                    border: 2px solid red;
                    padding: 10px;
                    font-size: 13px;
                    color: white;
                    border-radius: 5px;
                    display: block;
                    margin: 15px 0 15px auto;

                    &:hover {
                        color: black;
                        background-color: white;
                    }
                }

                span {
                    font-size: 18px;
                    margin-right: 12px;
                }
            }

        }
    }

}