<div class="main">

  <div class="full-form">
    <div class="register-form">
      <h1>CREATE ACCOUNT</h1>
      <form>
        <div class="form-group select-title">
          <label for="title">Title</label>
          <select class="form-control" id="title">
            <option>Select</option>
            <option>Mr</option>
            <option>Mrs</option>
            <option>Miss</option>
            <option>Ms</option>
          </select>
          <i class="bi bi-chevron-down"></i>
        </div>
        <div class="form-group">
          <label for="name">First name</label>
          <input type="text" class="form-control" id="name" placeholder="First name">
        </div>
        <div class="form-group">
          <label for="last-name">Last name</label>
          <input type="text" class="form-control" id="last-name" placeholder="Last name">
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" class="form-control" id="date" placeholder="MM/DD/YYYY">
        </div>

        <div class="form-group select-country">
          <label for="country">Country of residence</label>
          <select class="form-control" id="country">
            <option>Select</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <i class="bi bi-chevron-down"></i>
        </div>

        <div class="form-group">
          <label for="register-email">Email address</label>
          <input type="email" class="form-control" id="register-email" aria-describedby="emailHelp"
            placeholder="Email adress">
        </div>

        <div class="form-group password">
          <label for="register-password">Password</label>
          <input type="password" class="form-control" id="register-password" placeholder="**********">
          <i class="bi bi-eye-slash"></i>
        </div>

        <div class="password-contain">
          <span>Password must contain</span>
          <ul>
            <li>Uppercase</li>
            <li>Lowercase</li>
            <li>Number</li>
            <li>8-30 characters</li>
            <li> Any of !, @, #, %, ^, &, +, =, -</li>
          </ul>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="register-checkbox">
          <label class="form-check-label" for="register-checkbox">I want to receive the latest information from F1®
            including relevant news, surveys, offers, and exclusive competitions.</label>
        </div>

        <div>
          By clicking on register, I agree that I have read and agree to the <a href="">Terms and Conditions</a> and
          <a href="">Privacy Policy</a>
        </div>

        <button>REGISTER</button>


      </form>
    </div>
  </div>



</div>