<div class="main">
    <h1>Red Bull</h1>

    <div class="row first-section">
        <div class="col left-col">
            
                <table class="table">

                    <tbody>
                        <tr>
                            <td><img src="../assets/img/logos/redbull.jpeg"></td>
                            <td><div class="h2-div">
                                <h2>Year-by-year profile</h2>
                                <h2>Official Merchandise</h2>
                                <h2>Results Archive</h2>
                            </div></td>
                        </tr>
                        <tr>
                            <td>Full Team Name</td>
                            <td>Oracle Red Bull Racing</td>
                        </tr>
                        <tr>
                            <td>Base</td>
                            <td>Milton Keynes, United Kingdom</td>
                        </tr>
                        <tr>
                            <td>Team Chief</td>
                            <td>Christian Horner</td>
                        </tr>
                        <tr>
                            <td>Technical Chief</td>
                            <td>Pierre Waché</td>
                        </tr>
                        <tr>
                            <td>Chassis</td>
                            <td>TBC</td>
                        </tr>
                        <tr>
                            <td>Power Unit</td>
                            <td>Honda RBPT</td>
                        </tr>
                        <tr>
                            <td>First Team Entry</td>
                            <td>1997</td>
                        </tr>
                        <tr>
                            <td>World Championships</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Highest Race Finish</td>
                            <td>1 (x92)</td>
                        </tr>
                        <tr>
                            <td>Pole Positions</td>
                            <td>81</td>
                        </tr>
                        <tr>
                            <td>Fastest Laps</td>
                            <td>84</td>
                        </tr>
                    </tbody>
                </table>
        </div>


        <div class="col right-col">
            <div class="teammates">
                <div class="teammate-div">
                    <div class="wrap-img"><img src="../assets/img/driver-details/verstappen/verstappen.jpeg"></div>
                    <div class="opis">
                        <span>1</span>
                        <span>Max Verstappen</span>
                        <span>Red Bull Racing</span>
                    </div>
                </div>
                <div class="teammate-div">
                    <div class="wrap-img"><img src="../assets/img/driver-details/perez/perez.jpeg"></div>
                    <div class="opis">
                        <span>11</span>
                        <span>Sergio Perez</span>
                        <span>Red Bull Racing</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row second-section">
        <div id="teamCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../assets/img/team-details/redbull/slide-1.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/team-details/redbull/slide-2.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/team-details/redbull/slide-3.jpeg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/team-details/redbull/slide-4.jpeg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/team-details/redbull/slide-5.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/img/team-details/redbull/slide-6.jpeg" alt="Sixth slide">
                </div>
            </div>

            <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>

    </div>

    <div class="third-section">
        <h1>In profile</h1>
        <p>Red Bull were no strangers to F1 - as sponsors - prior to formally entering as a works team in 2004.
            Nonetheless, the scale of their success over the following decade was staggering. After a first podium in
            2006, the team hit their stride in 2009, claiming six victories and second in the constructors' standings.
            Over the next four seasons they were a tour de force, claiming consecutive title doubles between 2010 and
            2013, with Sebastian Vettel emerging as the sport's youngest quadruple champion. Now they are recapturing
            that glory with an equally exciting talent – one named Max Verstappen…
        </p>
        <span>2022</span>
        <p>After seeing off early Ferrari challenge, dominate to take first title double since 2013, with Max Verstappen
            securing a record 15 wins to retain drivers’ crown. Only cloud is a $7 million fine and a reduction in
            future wind-tunnel testing for exceeding the 2021 budget cap.</p>
        <a href="">Official Red Bull memorabilia ></a>
        <span>2021</span>
        <p>Secure their first drivers’ championship since 2013, winning 11 of 22 races, and push Mercedes all the way in
            an intense – and, at times, bitter – constructors’ fight. New team mate Sergio Perez provides invaluable
            support to Max Verstappen’s successful title bid.</p>
        <span>2020</span>
        <p>A lonely second in the standings, consistently clear of the midfield but rarely able to match the pace of
            champions Mercedes. Max Verstappen stars – with two wins and another nine podiums – but Alex Albon is
            dropped for 2021 after just two top-three appearances.</p>
        <span>2019</span>
        <p>Transition from Renault to Honda power is remarkably smooth, and Max Verstappen’s four wins ensure an almost
            identical points tally to 2018. Drop Pierre Gasly mid-year in favour of rookie Alex Albon, and late-season
            progress raises hopes of a genuine title challenge in 2020.</p>
        <a href="">Read Red Bull Racing's full year-by-year profile</a>

    </div>

    <div class="fourth-section">
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/team-details/redbull/num-1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>18 JAN 2023</span>
                <p>Red Bull Junior Team announce F2 and F3 seats for 2023 line-up</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/team-details/redbull/num-2.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>13 JAN 2023</span>
                <p>Red Bull to launch their 2023 season in New York as double title defence</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/team-details/redbull/num-3.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>12 JAN 2023</span>
                <p>‘It’s a good thing for F1 to be involved in’ – New F1 Academy series backed by</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/team-details/ferrari/num-3.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>10 JAN 2023</span>
                <p>‘He's a great people person’ – Team bosses back Vettel to return in F1</p>
                <span>NEWS</span>
            </div>
        </div>
    </div>


    <div class="fifth-section">
        <h1>YOU MIGHT ALSO LIKE</h1>
        <div class="also-divs">
            <div class="also-div">
                <img src="../assets/img/driver-details/verstappen/verstappen.jpeg">
                <div class="span-group">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Max Verstappen</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/driver-details/perez/perez.jpeg">
                <div class="span-group">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Sergio Perez</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/team-details/redbull/also-3.png">
                <div class="span-group">
                    <span>TEAM / FEATURE</span>
                    <span>Red Bull - Year by Year</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/team-details/redbull/also-4.jpg">
                <div class="span-group">
                    <span>DRIVERS / FEATURE</span>
                    <span>Sebastian Vettel - 2010 - 2013</span>
                </div>
            </div>
           
        </div>
    </div>
</div>