<div class="row glavni">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img class="f1-logo" src="../assets/img/f1_logo.svg"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item active ceoDrop1">
          <a class="nav-link" href="#">Latest<i class="bi bi-chevron-down"></i></a>

          <div class="dropDown1 all-drop-downs">
            <p class="latest-p">Latest<i class="bi bi-chevron-right"></i></p>

            <div class="ceoNews">
              <p class="news-h">News</p>
              <div class="news">
                <div class="news-pojednicano">
                  <img src="assets/img/alonso.jpeg">
                  <div class="small-p">
                    <small>VIDEO</small>
                    <p>WATCH: From magic in Montreal to a Brazilian barnstormer - The defining moments of Alonso's 2022
                      season</p>
                  </div>
                </div>
                <div class="news-pojednicano">
                  <img src="assets/img/rosberg.jpeg">
                  <div class="small-p">
                    <small>NEWS</small>
                    <p>Former champ Rosberg hails 'awesome' impact of F1 rule changes after overtaking-filled 2022
                      spectacle</p>
                  </div>
                </div>
                <div class="news-pojednicano">
                  <img src="assets/img/sainzz.jpeg">
                  <div class="small-p">
                    <small>NEWS</small>
                    <p>'We are not far away' - Sainz confident Ferrari can overhaul champions Red Bull in 2023</p>
                  </div>
                </div>
              </div>
            </div>


            <div class="ceoTopics">
              <p class="topics-h">Topics</p>

              <div class="topics">
                <div class="topics-pojedinacno">
                  <div class="wrap-img"><img src="assets/img/topics/uTopics1.jpg" alt="">
                    <h5>Las Vegas</h5>
                  </div>
                </div>
                <div class="topics-pojedinacno">
                  <div class="wrap-img"><img src="assets/img/topics/uTopics2.jpg" alt="">
                    <h5>Race Calendar</h5>
                  </div>
                </div>
                <div class="topics-pojedinacno">
                  <div class="wrap-img"><img src="assets/img/topics/uTopics3.jpg" alt="">
                    <h5>Sustainability</h5>
                  </div>
                </div>
                <div class="topics-pojedinacno">
                  <div class="wrap-img"><img src="assets/img/topics/uTopics4.jpg" alt="">
                    <h5>Podcasts</h5>
                  </div>
                </div>
                <div class="topics-pojedinacno">
                  <div class="wrap-img"><img src="assets/img/topics/uTopics5.jpg" alt="">
                    <h5>Technical</h5>
                  </div>
                </div>
                <div class="topics-pojedinacno">
                  <div class="wrap-img"><img src="assets/img/topics/uTopics6.jpg" alt="">
                    <h5>Driver Market</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#">Video</a>
        </li>


        <li class="ceoDrop2">
          <a class="nav-link" href="#">Schedule<i class="bi bi-chevron-down"></i></a>

          <div class="nav-item dropDown2 all-drop-downs">

            <div class="dva-a-linka">
              <a href="">Full Schedule<i class="bi bi-chevron-right"></i></a>
              <a href="">Race Programmes<i class="bi bi-chevron-right"></i></a>
            </div>

            <div class="schedule">

              <div class="schedule-pojedinacno">
                <span class="span-ugao1">NEWS</span>
                <div class="wrap-img-span">
                  <div class="wrap-img"><img src="assets/img/bahrain-gp.jpeg"></div>
                  <span>BAHRAIN<br>2023</span>
                </div>
                <div class="p-ispod-slike">
                  <p>FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2023</p>
                  <p>March 03-05<i class="bi bi-chevron-right"></i></p>
                </div>
              </div>

              <div class="schedule-pojedinacno">
                <span class="span-ugao2">UPCOMING</span>
                <div class="wrap-img-span">
                  <div class="wrap-img"><img src="assets/img/saudi-arabia-gp.jpeg"></div>
                  <span>SAUDI ARABIA<br>2023</span>
                </div>
                <div class="p-ispod-slike">
                  <p>FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2023</p>
                  <p>March 17-19<i class="bi bi-chevron-right"></i></p>
                </div>
              </div>

              <div class="schedule-pojedinacno">
                <div class="wrap-img-span">
                  <div class="wrap-img"><img src="assets/img/australia-gp.jpeg"></div>
                  <span>AUSTRALIA<br>2023</span>
                </div>
                <div class="p-ispod-slike">
                  <p>FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2023</p>
                  <p>March 31-April 02<i class="bi bi-chevron-right"></i></p>
                </div>
              </div>

              <div class="schedule-pojedinacno">
                <div class="wrap-img-span">
                  <div class="wrap-img"><img src="assets/img/tbc.jpg"></div>
                  <span>TBC<br>2023</span>
                </div>
                <div class="p-ispod-slike">
                  <p>TBC</p>
                  <p>April 14-16<i class="bi bi-chevron-right"></i></p>
                </div>
              </div>
            </div>
          </div>

        </li>


        <li class="nav-item ceoDrop3">
          <a class="nav-link" href="#">Standings<i class="bi bi-chevron-down"></i></a>

          <div class="dropDown3 all-drop-downs">
            <div class="link-group">
              <a href="">2022 Season<i class="bi bi-chevron-right"></i></a>
              <a href="" [routerLink]="['/f1/full-driver-standings']">Driver Standings<i class="bi bi-chevron-right"></i></a>
              <a href="" [routerLink]="['/f1/full-constructors-standings']">Constructor Standings<i class="bi bi-chevron-right"></i></a>
              <a href="">Archive 1950-2022<i class="bi bi-chevron-right"></i></a>
              <a href="">F1 Awards<i class="bi bi-chevron-right"></i></a>
            </div>
          </div>

        </li>


        <li class="nav-item ceoDrop4">
          <a class="nav-link" href="#">Drivers<i class="bi bi-chevron-down"></i></a>

          <div class="dropDown4 all-drop-downs">

            <div class="links-4">
              <a href="">All Drivers<i class="bi bi-chevron-right"></i></a>
              <a href="">Hall of Fame<i class="bi bi-chevron-right"></i></a>
            </div>

            <div class="drivers-group">
              <ul>
                <li [routerLink]="['/f1/alex-albon']" class="hover-williams">
                  <span class="boja-williams"></span>Alexander ALBON <i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/pierre-gasly']" class="hover-alpine">
                  <span class="boja-alpine"></span>Pierre GASLY<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/valtteri-bottas']" class="hover-alfa">
                  <span class="boja-alfa"></span>Valtteri BOTTAS <i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/nick-de-vries']" class="hover-alphatauri">
                  <span class="boja-alpha-tauri"></span>Nyck DE VRIES<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/lewis-hamilton']" class="hover-mercedes">
                  <span class="boja-merc"></span>Lewis HAMILTON <i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/logan-sargeant']" class="hover-williams">
                  <span class="boja-williams"></span>Logan SARGEANT<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/charles-leclerc']" class="hover-ferrari">
                  <span class="boja-ferari"></span>Charles LECLERC<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/kevin-magnussen']" class="hover-haas">
                  <span class="boja-haas"></span>Kevin MAGNUSSEN<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/lando-norris']" class="hover-mclaren">
                  <span class="boja-mclaren"></span>Lando NORRIS<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/esteban-ocon']" class="hover-alpine">
                  <span class="boja-alpine"></span>Esteban OCON<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/sergio-perez']" class="hover-red-bull">
                  <span class="boja-red-bull"></span>Sergio PEREZ<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/oscar-piastri']" class="hover-mclaren">
                  <span class="boja-mclaren"></span>Oscar PIASTRI<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/george-russell']" class="hover-mercedes">
                  <span class="boja-merc"></span>George RUSSELL<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/carlos-sainz']" class="hover-ferrari">
                  <span class="boja-ferari"></span>Carlos SAINZ<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/nico-hulkenberg']" class="hover-haas">
                  <span class="boja-haas"></span>Nico HULKENBERG<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/lance-stroll']" class="hover-aston">
                  <span class="boja-aston-martin"></span>Lance STROLL<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/yuki-tsunoda']" class="hover-alphatauri">
                  <span class="boja-alpha-tauri"></span>Yuki TSUNODA<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/max-verstappen']" class="hover-red-bull">
                  <span class="boja-red-bull"></span>Max VERSTAPPEN<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/fernando-alonso']" class="hover-aston">
                  <span class="boja-aston-martin"></span>Fernando ALONSO<i class="bi bi-chevron-right"></i>
                </li>

                <li [routerLink]="['/f1/guanyu-zhou']" class="hover-alfa">
                  <span class="boja-alfa"></span>Guanyu ZHOU<i class="bi bi-chevron-right"></i>
                </li>
              </ul>
            </div>
          </div>

        </li>



        <li class="nav-item ceoDrop5">
          <a class="nav-link" href="#">Teams<i class="bi bi-chevron-down"></i></a>


          <div class="dropDown5 all-drop-downs">

            <a href="">All Teams<i class="bi bi-chevron-right"></i></a>

            <div class="team-row">
              <div [routerLink]="['/f1/alfa-romeo']" class="one-team hover-alfa">
                <div class="nameOfTeam"><span>Alfa Romeo</span><i class="bi bi-chevron-right"></i></div>
                <div class="wrapp">
                  <img src="assets/img/formule/formula-br-1.png">
                  <span class="crta boja-alfa"></span>
                </div>
              </div>
              <div [routerLink]="['/f1/aston-martin']" class="one-team hover-aston">
                <div class="nameOfTeam"><span>Aston Martin</span><i class="bi bi-chevron-right"></i></div>
                <div class="wrapp">
                  <img src="assets/img/formule/formula-br-2.png">
                  <span class="crta boja-aston-martin"></span>
                </div>
              </div>
              <div [routerLink]="['/f1/mclaren']" class="one-team hover-mclaren">
                <div class="nameOfTeam"><span>McLaren</span><i class="bi bi-chevron-right"></i></div>
                <div class="wrapp">
                  <img src="assets/img/formule/formula-br-3.png">
                  <span class="crta boja-mclaren"></span>
                </div>
              </div>
              <div [routerLink]="['/f1/williams']" class="one-team hover-williams">
                <div class="nameOfTeam"><span>Williams</span><i class="bi bi-chevron-right"></i></div>
                <div class="wrapp">
                  <img src="assets/img/formule/formula-br-4.png">
                  <span class="crta boja-williams"></span>
                </div>
              </div>
            </div>

            <div class="team-row">
              <div [routerLink]="['/f1/alphatauri']" class="one-team hover-alphatauri">
                <div class="nameOfTeam"><span>AlphaTauri</span><i class="bi bi-chevron-right"></i></div>
                <div class="wrapp">
                  <img src="assets/img/formule/formula-br-5.png">
                  <span class="crta boja-alpha-tauri"></span>
                </div>
              </div>
              <div [routerLink]="['/f1/ferrari']" class="one-team hover-ferrari">
                <div class="nameOfTeam"><span>Ferrari</span><i class="bi bi-chevron-right"></i></div>
                <div class="wrapp">
                  <img src="assets/img/formule/formula-br-6.png">
                  <span class="crta boja-ferari"></span>
                </div>
              </div>
              <div [routerLink]="['/f1/mercedes']" class="one-team hover-mercedes">
                <div class="nameOfTeam"><span>Mercedes</span><i class="bi bi-chevron-right"></i></div>
                <div class="wrapp">
                  <img src="assets/img/formule/formula-br-7.png">
                  <span class="crta boja-merc"></span>
                </div>
              </div>
              <div class="one-team" style="display: none;"></div>
            </div>


            <div class="team-row">
              <div [routerLink]="['/f1/alpine']" class="one-team hover-alpine">
                <div class="nameOfTeam"><span>Alpine</span><i class="bi bi-chevron-right"></i></div>
                <div class="wrapp">
                  <img src="assets/img/formule/formula-br-8.png">
                  <span class="crta boja-alpine"></span>
                </div>
              </div>
              <div [routerLink]="['/f1/haas']" class="one-team hover-haas">
                <div class="nameOfTeam"><span>Haas</span><i class="bi bi-chevron-right"></i></div>
                <div class="wrapp">
                  <img src="assets/img/formule/formula-br-9.png">
                  <span class="crta boja-haas"></span>
                </div>
              </div>
              <div [routerLink]="['/f1/red-bull']" class="one-team hover-red-bull">
                <div class="nameOfTeam"><span>Red Bull</span><i class="bi bi-chevron-right"></i></div>
                <div class="wrapp">
                  <img src="assets/img/formule/formula-br-10.png">
                  <span class="crta boja-red-bull"></span>
                </div>
              </div>
              <div class="one-team" style="display: none;"></div>
            </div>
          </div>
        </li>


        <li class="nav-item ceoDrop6">
          <a class="nav-link" href="#">Gaming<i class="bi bi-chevron-down"></i></a>

          <div class="dropDown6 all-drop-downs">
            <div class="link-group">
              <a href="">Esports<i class="bi bi-chevron-right"></i></a>
              <a href="">Fantasy<i class="bi bi-chevron-right"></i></a>
              <a href="">F1 22<i class="bi bi-chevron-right"></i></a>
              <a href="">F1 Manager 2022<i class="bi bi-chevron-right"></i></a>
              <a href="">F1 Play<i class="bi bi-chevron-right"></i></a>
              <a href="">F1 Mobile Racing<i class="bi bi-chevron-right"></i></a>
              <a href="">F1 Clash<i class="bi bi-chevron-right"></i></a>
            </div>
          </div>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Live Timing</a>
        </li>
      </ul>
    </div>
  </nav>
</div>