<section>

    <div class="our-parents">
        <img src="assets/img/end/logoo.png">
        <a href="">Our parents</a>
    </div>

    <div class="sponsors-first-line">
        <img src="assets/img/end/rolex.png">
        <img src="assets/img/end/emirates.png">
        <img src="assets/img/end/aramco.png">
        <img src="assets/img/end/dhl.png">
        <img src="assets/img/end/pirelli.png">
        <img src="assets/img/end/crypto.com.png">
        <img src="assets/img/end/heineken.png">
    </div>

    <hr>

    <div class="sponsors-second-line">
        <img src="assets/img/end/drive.png">
        <img src="assets/img/end/aws.png">
        <img src="assets/img/end/liquiMoly.png">
        <img src="assets/img/end/bwt.png">
        <img src="assets/img/end/ferrari.png">
        <img src="assets/img/end/188bet.png">
        <img src="assets/img/end/zoom.png">
        <img src="assets/img/end/herjavec.png">
    </div>

    <hr>

    <div class="link-group">
        <div>
            <a href="">Latest News</a><br>
            <a href="">Video</a><br>
            <a href="">Drivers</a><br>
            <a href="">Teams</a><br>
            <a href="">Schedule</a><br>
        </div>
        <div>
            <a href="">Standings</a><br>
            <a href="" class="small-letters">2022 SEASON</a><br>
            <a href="" class="small-letters">DRIVER STANDINGS</a><br>
            <a href="" class="small-letters">CONSTRUCTOR STANDINGS</a><br>
            <a href="" class="small-letters">ARCHIVE 1950-2022</a><br>
            <a href="" class="small-letters">F1 AWARDS</a><br>
        </div>
        <div>
            <a href="">Gaming</a><br>
            <a href="" class="small-letters">ESPORTS</a><br>
            <a href="" class="small-letters">FANTASY</a><br>
            <a href="" class="small-letters">F1 MANAGER 2022</a><br>
            <a href="" class="small-letters">F1 PLAY</a><br>
            <a href="" class="small-letters">F1 2021</a><br>
            <a href="" class="small-letters">F1 MOBILE RACING</a><br>
            <a href="" class="small-letters">F1 CLASH</a><br>
        </div>

        <div><a href="">Live Timing</a></div>

        <div>
            <a href="">TICKETS</a><br>
            <a href="">F1 Experiences</a><br>
            <a href="">Store</a><br>
            <a href="">Paddock Club</a><br>
            <a href="">F1 TV</a><br>
            <a href="">F1 Authentics</a><br>
        </div>

        <div><a href="">Rules & Regulations</a></div>
    </div>

    <div class="the-rest-of-links">
            <a href="">CONTACTS</a>
            <a href="">F1 TV SUPPORT</a>
            <a href="">PRIVACY POLICY</a>
            <a href="">COOKIES POLICY</a>
            <a href="">COOKIE PREFERENCES</a>
            <a href="">GUIDELINES</a>
            <a href="">LEGAL NOTICES</a>
            <a href="">CODE OF CONDUCT</a>
            <a href="">ANTI-BRIBERY</a>
            <a href="">HUMAN RIGHTS</a>
            <a href="">MODERN SLAVERY STATEMENT</a>
            <a href="">GENDER PAY REPORT</a>
            <a href="">TERMS OF USE</a>
            <a href="">PARTNERS</a>
            <a href="">F1® FAN VOICE</a>
            <a href="">BEYOND THE GRID - THE F1® PODCAST</a> <br>
            <a href="">F1® EXTREME INNOVATION</a>
            <a href="">F1® CORPORATE SITE</a>
            <a href="">BECOME AN AFFILIATE</a>
            <a href="">OFFICIAL F1® RACE PROGRAMME</a>
    </div>


</section>
