<div class="main">
    <div class="row first-section">
        <div class="col left-col">
            <img src="../assets/img/driver-details/guanyu/zhou.jpeg">
            <div class="below-photo1">
                <span>24</span>
                <img src="../assets/img/countries/china.webp">
                <h1>Zhou Guanyu</h1>
            </div>
        </div>
        <div class="col right-col">
            <div class="helmet-h2-div">
                <img src="../assets/img/driver-details/guanyu/helmet.png">
                <div class="h2-div">
                    <h2>Official merchandise</h2>
                    <h2>Official memorabilia</h2>
                </div>
            </div>
            <div>
                <table class="table">

                    <tbody>
                        <tr>
                            <td>Team</td>
                            <td>Alfa Romeo</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>China</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Grands Prix entered</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>World Championships</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Highest race finish</td>
                            <td>8 (x1)</td>
                        </tr>
                        <tr>
                            <td>Highest grid position</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td>30/05/1999</td>
                        </tr>
                        <tr>
                            <td>Place of birth</td>
                            <td>Shanghai, China</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="second-section">
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/leclerc/num1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>07 JAN 2023</span>
                <p>PERSONALITY TEST: Which F1 driver should you support in 2023?</p>
                <span>POLL</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/guanyu/num-2.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>09 DEC 2022</span>
                <p>WATCH: From Hamilton vs Alonso to Zhou’s terrifying shunt – The top 10 most</p>
                <span>VIDEO</span>
            </div>
        </div>

        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/guanyu/num-3.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>01 DEC 2022</span>
                <p>Zhou reveals what score he would give himself for his rookie 2022 season</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="../assets/img/driver-details/bottas/num-4.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>01 DEC 2022</span>
                <p>Best drives, biggest shocks, and funniest moments – Our writers</p>
                <span>FEATURE</span>
            </div>
        </div>

    </div>


    <div class="third-section">
        <h1>Biography</h1>
        <p>China has never boasted a Grand Prix starter among its citizens – but Zhou Guanyu is the driver charged with
            changing that state of affairs, after receiving the call-up to make his F1 debut for Alfa Romeo in 2022.
        </p>
        <p>The Shanghai-born racer attended his home city’s inaugural Grand Prix in 2004 at the age of five, cheering on
            his hero Fernando Alonso. But having caught the racing bug, the Chinese driver then set himself the
            ambitious goal of becoming his country’s first-ever F1 racer – achieving a feat that Ma Qinghua, the only
            other Chinese driver to take part in a Formula 1 weekend, never managed.</p>
        <p>Showing boldness and dedication, Zhou put his plan into action by moving to England with his family aged just
            12 to pursue his motorsport ambitions. A second-place finish in the 2015 Italian F4 championship proved Zhou
            was possessed of the right stuff – a fact already noted by Ferrari, who’d signed him to their driver academy
            a year earlier. </p>
        <p>A move to Renault’s academy for 2019 coincided with his debut in Formula 2, with Zhou building his confidence
            in the series via multiple wins and pole positions across three seasons, leading to him challenging for the
            drivers’ title in 2021. </p>
        <p>That was enough to convince Alfa Romeo Team Principal Fred Vasseur to put his faith in Zhou for 2022 and
            field him alongside ex-Mercedes racer Valtteri Bottas – allowing Zhou to achieve his dream of racing in F1,
            and even to see how he fares against his own childhood hero, Fernando Alonso.</p>

            <div id="teamCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../assets/img/driver-details/guanyu/slide-1.jpeg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../assets/img/driver-details/guanyu/slide-2.jpeg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../assets/img/driver-details/guanyu/slide-3.jpeg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../assets/img/driver-details/guanyu/slide-4.jpeg" alt="Fourth slide">
                    </div>
                </div>
        
                <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
    </div>

    <div class="fourth-section">
        <h1>YOU MIGHT ALSO LIKE</h1>
        <div class="also-divs">
            <div class="also-div">
                <img src="../assets/img/driver-details/bottas/also-1.jpg">
                <div class="span-group">
                    <span>TEAMS / TEAMS</span>
                    <span>Alfa Romeo</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/driver-details/bottas/bottas.jpeg">
                <div class="span-group">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Valtteri Bottas</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/driver-details/ocon/also-1.webp">
                <div class="span-group">
                    <span>TEAMS / TEAMS</span>
                    <span>Alpine</span>
                </div>
            </div>
            <div class="also-div">
                <img src="../assets/img/driver-details/guanyu/also-4.avif">
                <div class="span-group">
                    <span>SCHEDULE / 2023</span>
                    <span>Singapore</span>
                </div>
            </div>
        </div>
    </div>

</div>