<div class="main">
    <h1>Ferrari</h1>

    <div class="row first-section">
        <div class="col left-col">

            <table class="table">

                <tbody>
                    <tr>
                        <td><img src="assets/img/logos/alphat.png"></td>
                        <td>
                            <div class="h2-div">
                                <h2>Year-by-year profile</h2>
                                <h2>Official Merchandise</h2>
                                <h2>Results Archive</h2>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Full Team Name</td>
                        <td>Scuderia AlphaTauri</td>
                    </tr>
                    <tr>
                        <td>Base</td>
                        <td>Faenza, Italy</td>
                    </tr>
                    <tr>
                        <td>Team Chief</td>
                        <td>Franz Tost</td>
                    </tr>
                    <tr>
                        <td>Technical Chief</td>
                        <td>Jody Egginton</td>
                    </tr>
                    <tr>
                        <td>Chassis</td>
                        <td>AT04</td>
                    </tr>
                    <tr>
                        <td>Power Unit</td>
                        <td>Honda RBPT</td>
                    </tr>
                    <tr>
                        <td>First Team Entry</td>
                        <td>1985</td>
                    </tr>
                    <tr>
                        <td>World Championships</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>Highest Race Finish</td>
                        <td>1 (x2)</td>
                    </tr>
                    <tr>
                        <td>Pole Positions</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Fastest Laps</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="col right-col">
            <div class="teammates">
                <div class="teammate-div">
                    <div class="wrap-img"><img src="assets/img/driver-details/tsunoda/yuki.jpeg"></div>
                    <div class="opis">
                        <span>22</span>
                        <span>Yuki Tsunoda</span>
                        <span>ALPHATAURI</span>
                    </div>
                </div>
                <div class="teammate-div">
                    <div class="wrap-img"><img src="assets/img/driver-details/de_vries/de_vries.jpeg"></div>
                    <div class="opis">
                        <span>21</span>
                        <span>Nyck de Vries</span>
                        <span>ALPHATAURI</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row second-section">
        <div id="teamCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/img/team-details/alphatauri/slide-1.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/team-details/alphatauri/slide-2.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/team-details/alphatauri/slide-3.jpeg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/team-details/alphatauri/slide-4.jpeg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/team-details/alphatauri/slide-5.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/team-details/alphatauri/slide-6.jpeg" alt="Sixth slide">
                </div>
            </div>

            <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>

    </div>

    <div class="third-section">
        <h1>In profile</h1>
        <p>Established in 2006 as a squad in which young drivers from Red Bull’s prodigious talent pool could cut their
            F1 teeth, AlphaTauri – originally named Toro Rosso – were formed from the ashes of the plucky Minardi team.
            Sebastian Vettel gave validity to the approach almost immediately, delivering a fairy-tale win in 2008,
            before going on to enjoy world championship success with parent team Red Bull Racing. Today the ethos of
            nurturing talent still holds true, though the Italian squad are no longer simply a ‘B team’ but a
            constructor in their own right...
        </p>
        <span>2022</span>
        <p>Momentum stalls and lose ground to the likes of Alfa Romeo and Haas, dropping to P9 in the final standings,
            with just 35 points to 2021’s tally of 142. Pierre Gasly takes season’s best result with a fifth place in
            Baku, but departs the squad at the end of the year.</p>
        <a href="">Official AlphaTauri memorabilia ></a>
        <span>2021</span>
        <p>Move up another place to sixth in the standings, as the ever-improving Pierre Gasly scores a podium in
            Azerbaijan and points in almost every race he finishes. Rookie team mate Yuki Tsunoda takes time to find his
            feet, but secures an excellent fourth in season finale.</p>
        <span>2020</span>
        <p>A new name brings new impetus and AlphaTauri emerge as a true midfield force, scoring more than a century of
            points, 27 of them on home soil at Monza, where Pierre Gasly secures his and the team’s maiden win.</p>
        <span>2019</span>
        <p>In their final season under the Toro Rosso name, enjoy their most successful campaign to date, scoring 85
            points and securing sixth in the standings. Mid-season driver swap sees Pierre Gasly return from Red Bull
            Racing, the Frenchman responding to his ‘demotion’ with a spectacular maiden podium in Brazil.</p>
        <a href="">Read AlphaTauri's year-by-year guide</a>

    </div>

    <div class="fourth-section">
        <div class="one-div">
            <div class="wrap-img"><img src="assets/img/team-details/alphatauri/num-1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>27 JAN 2023</span>
                <p>Alfa Romeo confirm new title sponsor and team name change ahead of</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="assets/img/team-details/alphatauri/num-2.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>26 JAN 2023</span>
                <p>VOTE: Which driver pairing are you most excited to watch in 2023?</p>
                <span>POLL</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="assets/img/team-details/alphatauri/num-3.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>25 JAN 2023</span>
                <p>Nyck de Vries ramps up preparations for AlphaTauri debut with</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="assets/img/team-details/alphatauri/num-4.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>24 JAN 2023</span>
                <p>TEAM GUIDE: The essential lowdown on Italian team AlphaTauri as Tsunoda and</p>
                <span>FEATURE</span>
            </div>
        </div>
    </div>


    <div class="fifth-section">
        <h1>YOU MIGHT ALSO LIKE</h1>
        <div class="also-divs">
            <div class="also-div">
                <img src="assets/img/driver-details/tsunoda/yuki.jpeg">
                <div class="span-group">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Yuki Tsunoda</span>
                </div>
            </div>
            <div class="also-div">
                <img src="assets/img/driver-details/de_vries/de_vries.jpeg">
                <div class="span-group">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Nyck de Vries</span>
                </div>
            </div>
            <div class="also-div">
                <img src="assets/img/driver-details/verstappen/also-4.jpeg">
                <div class="span-group">
                    <span>TEAMS / TEAMS</span>
                    <span>AlphaTauri - Year by Year</span>
                </div>
            </div>
            <div class="also-div">
                <img src="assets/img/driver-details/sainz/also-3.jpeg">
                <div class="span-group">
                    <span>SCHEDULE / 2023</span>
                    <span>Italy</span>
                </div>
            </div>

        </div>
    </div>
</div>