<div class="main">
    <div class="row intro-section">
        <div class="col left-col">
            <img src="assets/img/driver-details/piastri/piastri.jpeg">
            <div class="driver-name">
                <span>81</span>
                <img src="assets/img/countries/3.jpg">
                <h1>Oscar Piastri</h1>
            </div>
        </div>
        <div class="col right-col">
            <table class="driver-info">

                <tbody>
                    <tr>
                        <td>Team</td>
                        <td>McLaren</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>Australia States</td>
                    </tr>
                    <tr>
                        <td>Podiums</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>Points</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Grands Prix entered</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>World Championships</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>Highest race finish</td>
                        <td>0 (x0)</td>
                    </tr>
                    <tr>
                        <td>Highest grid position</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>Date of birth</td>
                        <td>06/04/2001</td>
                    </tr>
                    <tr>
                        <td>Place of birth</td>
                        <td>Melbourne, Victoria</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="news-section">
        <div class="one-news">
            <div class="wrap-img"><img src="assets/img/team-details/mclaren/num-1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>15 JAN 2023</span>
                <p>BARRETTO: Teams were fighting over him in 2022 – but what can we expect</p>
                <span>FEATURE</span>
            </div>
        </div>
        <div class="one-news">
            <div class="wrap-img"><img src="assets/img/team-details/redbull/num-2.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>11 JAN 2023</span>
                <p>Why Ricciardo reckons his McLaren struggles can give replacement Piastri a</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-news">
            <div class="wrap-img"><img src="assets/img/driver-details/norris/num-2.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>10 JAN 2023</span>
                <p>Norris doesn’t get ‘enough credit’ according to Zak Brown as he looks forward</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-news">
            <div class="wrap-img"><img src="assets/img/driver-details/leclerc/num1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>04 JAN 2023</span>
                <p>PERSONALITY TEST: Which F1 driver should you support in 2023?</p>
                <span>POLL</span>
            </div>
        </div>
    </div>


    <div class="biography-section">

        <h1>Biography</h1>
        <p>Born in Melbourne, just a stone’s throw away from the Australian Grand Prix venue, a young Oscar Piastri’s
            dreams of one day racing in Formula 1 were ignited by the sport’s star drivers roaring around his local
            streets, otherwise known as Albert Park.</p>
        <p>But it would take huge commitment and sacrifice to turn that dream into a reality, with a move to Europe –
            made by the likes of fellow countrymen Mark Webber and Daniel Ricciardo before him – the only way to go up
            against the best and catch the attention of the sport’s decision-makers.</p>
        <p>Using success on the Australian karting scene as a springboard, Piastri continued to learn the craft in
            championships across Europe, before getting his first taste of single-seater competition as a 15-year-old –
            two podium finishes in F4 UAE a sign of things to come.</p>
        <p>From there, success flowed. British F4 runner-up. Formula Renault champion. F3 champion. F2 champion (by more
            than 50 points). Piastri did not simply climb the junior single-seater ladder, he charged up it to knock
            loudly on the F1 door.</p>
        <p>So impressive was Piastri that two F1 teams squabbled over his services for 2023, adding a new dimension to
            the driver market and so-called ‘silly season’.</p>
        <p>After a meeting of the Contract Recognition Board, it was confirmed that it was McLaren, and not long-time
            backers Alpine, that had the right to Piastri’s services, and with whom the 21-year-old is set to realise
            his F1 dream.</p>

            <div id="teamCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="assets/img/driver-details/piastri/slide-1.jpeg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/img/driver-details/piastri/slide-2.jpeg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/img/driver-details/piastri/slide-3.jpeg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/img/driver-details/piastri/slide-4.jpeg" alt="Fourth slide">
                    </div>
                </div>
    
                <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>

    </div>

    <div class="articles-section">
        <h1>YOU MIGHT ALSO LIKE</h1>
        <div class="articles-content">
            <div class="one-article">
                <img src="assets/img/driver-details/norris/also-1.jpeg">
                <div class="article-title">
                    <span>TEAMS / TEAMS</span>
                    <span>McLaren</span>
                </div>
            </div>
            <div class="one-article">
                <img src="assets/img/driver-details/norris/norris.jpeg">
                <div class="article-title">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Lando Norris</span>
                </div>
            </div>
            <div class="one-article">
                <img src="assets/img/driver-details/norris/also-4.jpeg">
                <div class="article-title">
                    <span>SCHEDULE / 2023</span>
                    <span>Australia</span>
                </div>
            </div>
            <div class="one-article">
                <img src="assets/img/driver-details/piastri/also-4.webp">
                <div class="article-title">
                    <span>DRIVERS / FEATURE</span>
                    <span>Jack Brabham - 1959, 1960,1966</span>
                </div>
            </div>
        </div>
    </div>

</div>