.main {
    letter-spacing: 0;
    
    .row1 {
        background-color: #15151e;
        padding: 15px 30px;
    
        img {
            width: 220px;
            height: 115px;
        }
    }
    
    .row2 {
        background-color: #38383f;
    
        .sign-in-and-register {
            display: flex;
            justify-content: center;
            text-align: center;
    
            span {
                text-decoration: none;
                color: white;
                font-size: 17px;
                font-weight: bold;
                padding: 15px 20px;
                cursor: pointer;
                margin-right: 10px;
                height: 50px;
            }
    
            span:first-child:hover {
                border-bottom: 4px solid red;
            }
    
            span:last-child:hover {
                border-bottom: 4px solid white;
            }
        }
    }

    .row3 {
        background-color: #f7f4f1;

        .sign-in-form {
            width: 46%;
            margin: 0 auto;
            padding: 30px;

            h1 {
                font-size: 34px;
                font-weight: bold;
                padding: 10px 0;
            }

            form {
                label {
                    padding-left: 10px;
                    font-size: 18px;
                }

                input {
                    padding: 15px;
                    margin: 10px 0;
                    border: 1px solid black;
                    border-radius: 10px;
                }

                .second-form-group {
                    position: relative;

                    i {
                        position: absolute;
                        top: 45px;
                        right: 12px;
                        font-size: 23px;
                    }
                }

                .forgotten-password {
                    text-align: right;
                    padding: 15px 0;
                }

                a {
                    text-decoration: none;
                    border-bottom: 2px solid red;
                    font-size: 17px;
                    font-weight: 800;
                    color: black;
                    padding: 5px;

                    &:hover {
                        color: red;
                    }
                }

                button {
                    background-color: red;
                    border: 2px solid red;
                    padding: 5px 20px;
                    font-size: 13px;
                    margin-bottom: 30px;

                    &:hover {
                        color: black;
                        background-color: white;
                    }
                }

                span {
                    font-size: 18px;
                    margin-right: 12px;
                }
            }

        }
    }


    .row4 {
        background-color: #f7f4f1;

        .last-section {
            padding: 0 30px;
            margin-bottom: 20px;

            .wrap {

                border-top: 10px solid grey;
                border-right: 10px solid grey;
                border-top-right-radius: 30px;
                padding: 10px;

                .first-div {
                    display: flex;
                    justify-content: space-between;

                    img {
                        height: 80px;
                        width: 140px;
                    }

                    ul {
                        display: flex;
                        align-items: center;

                        li {
                            padding: 0 10px;
                            cursor: pointer;
                        }
                    }
                }

                hr {
                    margin: 0;
                    margin-bottom: 10px;
                }

                .second-div {
                    display: flex;
                    justify-content: space-between;

                    ul {
                        display: flex;

                        li {
                            padding-right: 20px;

                            a {
                                text-decoration: none;
                                color: black;
                                font-size: 12px;
                                font-weight: 600;
                                padding-bottom: 2px
                            }

                            a:hover {
                                border-bottom: 2px solid red;
                            }

                        }

                    }

                    span {
                        padding-right: 10px;
                        font-size: 13px;
                        color: grey;
                    }
                }



            }

        }
    }

    .support-span{
        position: fixed;
        bottom: 30px;
        right: 30px;
        background-color: red;
        padding: 10px;
        font-size: 20px;
        color: white;
        border-radius: 20px;
        i{
            margin-right: 8px;
            vertical-align: baseline;
            font-size: 18px;
            
        }
    }

}