<section>

    <div class="prvi-deo">
        <div class="dvaUJedanSlike">
            <img class="img1" src="assets/img/more-info/more-info1.jpg">
            <div class="wrap-dva-u-jedan-span"><span class="linijeSlika"></span></div>
            <h2>F1 Authentics - F1 and team memorabilia</h2>
            <button [routerLink]="['/authentics']">SHOW MORE<i class="bi bi-chevron-right"></i></button>
        </div>
        <div class="dvaUJedanSlike">
            <img src="assets/img/more-info/more-info2.jpeg">
            <div class="wrap-dva-u-jedan-span"><span class="linijeSlika"></span></div>
            <h2>F1 Store - Official F1 & team merchandise</h2>
            <button [routerLink]="['/store']">SHOW MORE<i class="bi bi-chevron-right"></i></button>
        </div>
        <div class="dvaUJedanSlike">
            <img class="img3" src="assets/img/more-info/more-info3.jpg">
            <div class="wrap-dva-u-jedan-span"><span class="linijeSlika"></span></div>
            <h2>Get closer to the action with F1 TV</h2>
            <button>SHOW MORE<i class="bi bi-chevron-right"></i></button>
        </div>
    </div>


    <div class="drugi-deo">

        <div class="wrap-imgs">
            <h3>Explore F1 topics</h3>
            <div class="each-topic">
                <div class="wrap-img"><img src="assets/img/more-info/more-info4.jpg"><span class="crtice"></span></div>
                <p>Race calendar</p>
            </div>
            <div class="each-topic">
                <div class="wrap-img"><img src="assets/img/more-info/more-info5.jpg"><span class="crtice"></span></div>
                <p>Driver market</p>
            </div>
            <div class="each-topic">
                <div class="wrap-img"><img src="assets/img/more-info/more-info6.jpg"><span class="crtice"></span></div>
                <p>Podcast</p>
                
            </div>
            <div class="each-topic">
                <div class="wrap-img"><img src="assets/img/more-info/more-info7.jpg"><span class="crtice"></span></div>
                <p>Esports</p>
            </div>
        </div>

        <hr>

        <div class="find-us">
            <div class="wrap-google-play">
                <p>DOWNLOAD THE OFFICIAL F1 APP</p>
                <img src="assets/img/more-info/google-play-badge.svg" alt="">
                <img src="assets/img/more-info/download-on-the-app-store-apple.svg" alt="">
            </div>
            <div class="icons">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-youtube"></i>
            </div>
        </div>
    </div>

</section>


   