section {

    .prvi-deo {
        display: flex;
        justify-content: center;

        .dvaUJedanSlike {
            width: 30%;
            position: relative;

            img {
                height: 240px;
                width: 420px;
            }


            .img1 {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            .img3 {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .wrap-dva-u-jedan-span {
                padding: 15px 10px 0 0;
                border-top: 2px solid white;
                border-right: 2px solid white;
                border-top-right-radius: 10px;
                position: absolute;
                top: 20px;
                left: 15px;
                height: 210px;
                width: 390px;

                .linijeSlika {
                    background: url(../../../assets/img/dva-u-jedan.png);
                    position: absolute;
                    height: 193px;
                    width: 390px;
                    border-top-right-radius: 10px;
                    opacity: .7;
                }
            }

            h2 {
                font-size: 27px;
                width: 61%;
                position: absolute;
                top: 60px;
                left: 50px;
                color: white;
            }

            button {
                text-decoration: none;
                padding: 10px;
                background-color: #e23721;
                border: 2px solid #e23721;
                color: white;
                border-radius: 5px;
                font-size: small;
                transition: 0.4s;
                position: absolute;
                top: 140px;
                left: 50px;
                cursor: pointer;

                &:hover {
                    background-color: white;
                    color: black;
                    font-weight: 500;
                }

                i {
                    padding-left: 5px;
                    vertical-align: baseline;
                }
            }

        }
    }




    .drugi-deo {
        background-color: #38383f;
        margin-top: 40px;
        position: relative;
        padding: 40px 40px 20px 40px;

        h3 {
            position: absolute;
            top: 30px;
            left: 40px;
            color: white;
            font-size: 25px;
            padding: 0 20px 30px 35px;
            background-color: #38383f;
        }

        .wrap-imgs {
            border-top: 12px solid black;
            border-right: 12px solid black;
            border-top-right-radius: 30px;
            display: flex;
            justify-content: space-evenly;

            .each-topic {
                cursor: pointer;
                margin-top: 50px;
                position: relative;

                &:hover {
                    .crtice {
                        color: #e23721;
                    }
                }


                .wrap-img {
                    overflow: hidden;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    position: relative;

                    img {
                        height: 160px;
                        width: 300px;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        transition: transform 0.5s;
                    }

                    .crtice {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: url(../../../assets/img/white-x1.png);
                        height: 12px;
                    }

                }

                p {
                    color: white;
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-shadow: 5px 5px 15px black;
                    font-size: 25px;
                    transition: .3s;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }


        hr {
            border-color: black;
            margin-top: 40px;
        }


        .find-us {
            display: flex;
            justify-content: space-between;

            .wrap-google-play {
                position: relative;

                p {
                    font-size: 13px;
                    margin-left: 35px;
                    color: white;
                    width: 120px;
                    display: inline-block;
                }


                img {
                    width: 130px;
                    border-radius: 5px;
                    margin-left: 15px;
                    cursor: pointer;
                }
            }


            .icons {
                color: white;
                padding: 5px;

                i {
                    border: 1px solid black;
                    border-radius: 5px;
                    padding: 8px;
                    font-size: 20px;
                    margin-right: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: black;
                    }
                }
            }
        }
    }
}