<div class="main">
    <div class="row intro-section">
        <div class="col left-col">
            <img src="assets/img/driver-details/gasly/gasly.jpeg">
            <div class="driver-name">
                <span>10</span>
                <img src="assets/img/countries/france.png">
                <h1>Pierre Gasly</h1>
            </div>
        </div>
        <div class="col right-col">
            <div class="helmet-container">
                <img src="assets/img/driver-details/gasly/helmet.png">
                <div class="visit-merch">
                    <h2>Official merchandise</h2>
                    <h2>Official memorabilia</h2>
                </div>
            </div>
            <div>
                <table class="driver-info">

                    <tbody>
                        <tr>
                            <td>Team</td>
                            <td>Alpine</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>France</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>332</td>
                        </tr>
                        <tr>
                            <td>Grands Prix entered</td>
                            <td>108</td>
                        </tr>
                        <tr>
                            <td>World Championships</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Highest race finish</td>
                            <td>1 (x1)</td>
                        </tr>
                        <tr>
                            <td>Highest grid position</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td>07/02/1996</td>
                        </tr>
                        <tr>
                            <td>Place of birth</td>
                            <td>Rouen, France</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="news-section">
        <div class="one-news">
            <div class="wrap-img"><img src="assets/img/driver-details/gasly/num-1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i> 11 JAN 2023</span>
                <p>‘He can take us to the next level’ – Alpine set out what they expect new recruit</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-news">
            <div class="wrap-img"><img src="assets/img/driver-details/leclerc/num1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>07 JAN 2023</span>
                <p>PERSONALITY TEST: Which F1 driver should you support in 2023?</p>
                <span>POLL</span>
            </div>
        </div>
        <div class="one-news">
            <div class="wrap-img"><img src="assets/img/driver-details/ocon/num-2.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>04 JAN 2023</span>
                <p>Alpine announce 2023 launch date and reveal name of new F1 challenger</p>
                <span>NEWS</span>
            </div>
        </div>

        <div class="one-news">
            <div class="wrap-img"><img src="assets/img/driver-details/gasly/num-4.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>12 DEC 2022</span>
                <p>Sainz says F1 ‘got it right’ with 2022 rule changes and expects championship</p>
                <span>NEWS</span>
            </div>
        </div>

    </div>


    <div class="biography-section">
        <h1>Biography</h1>
        <p>If there’s one man who knows how big a rollercoaster ride an F1 driver’s career can be, it’s Pierre Gasly!
        </p>
        <p>The flying Frenchman was called up to make his 2017 debut in Malaysia in place of Daniil Kvyat and, after
            proving his mettle, he was named a Toro Rosso driver the following year. A further 21 races into his
            fledgling career, Gasly was moved up again – this time to replace Red Bull big gun Daniel Ricciardo.</p>
        <p>Gasly seemed to have a knack of being in the right place at the right time – a quality that’s equally handy
            on track. A series of impressive 2018 performances for Toro Rosso – including a brilliant fourth place in
            Bahrain – showed exciting promise for what he might do with the ‘A’ team in 2019.</p>
        <p>Unfortunately that promise only appeared in flashes – and he quickly suffered from unfavourable comparisons
            with superstar team mate Max Verstappen. So much so that after the summer break, he was sent back to Toro
            Rosso, with another young up-and-comer – Alex Albon – being given a shot in the ‘senior’ Red Bull seat.</p>
        <p>But Gasly bounced back, as only Gasly can. In the season’s remaining nine races he scored almost as many
            points as team mate Kvyat managed over the entire year – and secured his best-ever race result with P2 in
            Brazil. That trajectory continued in 2020, peaking with an emotional maiden win at the renamed AlphaTauri
            team’s home race in Italy, and didn’t let up in 2021 when he was back on the podium and scored 110 of the
            squad’s 142 points.</p>
        <p>When AlphaTauri’s momentum stalled in 2022, Gasly decided it was time for a change – in the form of French
            team Alpine, with fellow Frenchman – and old adversary – Esteban Ocon as team mate. The question now is can
            he regain momentum and get himself another shot at the F1 bigtime…</p>

        <div id="teamCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/img/driver-details/gasly/slide-1.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/driver-details/gasly/slide-2.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/driver-details/gasly/slide-3.jpeg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/driver-details/gasly/slide-4.jpeg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/driver-details/gasly/slide-5.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/driver-details/gasly/slide-6.jpeg" alt="Sixth slide">
                </div>
            </div>

            <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>

    </div>

    <div class="articles-section">
        <h1>YOU MIGHT ALSO LIKE</h1>
        <div class="articles-content">
            <div class="one-article">
                <img src="assets/img/driver-details/ocon/also-1.webp">
                <div class="article-title">
                    <span>TEAMS / TEAMS</span>
                    <span>Alpine</span>
                </div>
            </div>
            <div class="one-article">
                <img src="assets/img/driver-details/ocon/ocon.jpeg">
                <div class="article-title">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Esteban Ocon</span>
                </div>
            </div>
            <div class="one-article">
                <img src="assets/img/driver-details/gasly/also-3.jpeg">
                <div class="article-title">
                    <span>SCHEDULE / 2023</span>
                    <span>Canada</span>
                </div>
            </div>
            <div class="one-article">
                <img src="assets/img/driver-details/gasly/also-4.jpeg">
                <div class="article-title">
                    <span>SCHEDULE / 2023</span>
                    <span>Belgium</span>
                </div>
            </div>
        </div>
    </div>

</div>