

<div class="main">
    <div class="row intro-section">
        <div class="col left-col">
            <img src="assets/img/driver-details/stroll/stroll.jpeg">
            <div class="driver-name">
                <span>18</span>
                <img src="assets/img/countries/9.png">
                <h1>Lance Stroll</h1>
            </div>
        </div>
        <div class="col right-col">
            <div class="helmet-container">
                <img src="assets/img/driver-details/stroll/helmet.png">
                <div class="visit-merch">
                    <h2>Official merchandise</h2>
                    <h2>Official memorabilia</h2>
                </div>
            </div>
            <div>
                <table class="driver-info">

                    <tbody>
                        <tr>
                            <td>Team</td>
                            <td>Aston Martin</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>Canada</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>194</td>
                        </tr>
                        <tr>
                            <td>Grands Prix entered</td>
                            <td>122</td>
                        </tr>
                        <tr>
                            <td>World Championships</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Highest race finish</td>
                            <td>3 (x3)</td>
                        </tr>
                        <tr>
                            <td>Highest grid position</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td>29/10/1998</td>
                        </tr>
                        <tr>
                            <td>Place of birth</td>
                            <td>Montreal, Canada</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="news-section">
        <div class="one-news">
            <div class="wrap-img"><img src="assets/img/driver-details/leclerc/num1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>07 JAN 2023</span>
                <p>PERSONALITY TEST: Which F1 driver should you support in 2023?</p>
                <span>POLL</span>
            </div>
        </div>
        <div class="one-news">
            <div class="wrap-img"><img src="assets/img/driver-details/stroll/num-2.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i> 11 JAN 2023</span>
                <p>‘He can take us to the next level’ – Alpine set out what they expect new recruit</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-news">
            <div class="wrap-img"><img src="assets/img/driver-details/stroll/num-3.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>19 DEC 2022</span>
                <p>Stroll praises 'great job' from Aston Martin after reaping rewards of 2022</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-news">
            <div class="wrap-img"><img src="assets/img/driver-details/bottas/num-4.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>16 DEC 2022</span>
                <p>Aston Martin become first F1 team to announce 2023 car launch date</p>
                <span>NEWS</span>
            </div>
        </div>

    </div>


    <div class="biography-section">
        <h1>Biography</h1>
        <p>There is no such thing as too much too soon for Stroll, a teenage sensation with a wet weather predilection.
            One of the cool kids on the grid, Stroll was unveiled shortly after his 18th birthday by Williams – before
            he finished high school and got his road licence. </p>
        <p>Stroll meant business in his debut 2017 season, setting records on the way. An opportunistic racer he bounded
            onto the podium in Baku, the youngest rookie to do so. As the son of a wealthy entrepreneur, Stroll is used
            to a champagne lifestyle but now he knows the fizz tastes all the sweeter on the rostrum. Then in Monza he
            mastered the downpours to become the youngest driver in history to line up on the front row.</p>
        <p>A single-minded starter, the Canadian loves to make up places on the opening lap and fight through to the
            points. Stroll has the potential to be a long-term fixture in Formula 1 – as amply illustrated by a maiden
            pole and another two podiums in 2020.</p>
        <p>Those came after his father Lawrence led the consortium that took over Force India midway through the 2018
            season, and then transformed it from Racing Point to Aston Martin for 2021. The future looks bright for both
            the team and their young driver – and even if it rains then Stroll can keep on motoring at the sharp end of
            the pack.</p>

        <div id="teamCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/img/driver-details/stroll/slide-1.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/driver-details/stroll/slide-2.jpeg"
                        alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/driver-details/stroll/slide-3.jpeg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/driver-details/stroll/slide-4.jpeg"
                        alt="Fourth slide">
                </div>
            </div>

            <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>

    </div>
    
    <div class="articles-section">
        <h1>YOU MIGHT ALSO LIKE</h1>
        <div class="articles-content">
            <div class="one-article">
                <img src="assets/img/driver-details/ocon/ocon.jpeg">
                <div class="article-title">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Fernando Alonso</span>
                </div>
            </div>
            <div class="one-article">
                <img src="assets/img/driver-details/alonso/also-1.webp">
                <div class="article-title">
                    <span>TEAMS / TEAMS</span>
                    <span>Aston Martin</span>
                </div>
            </div>

            <div class="one-article">
                <img src="assets/img/driver-details/gasly/also-3.jpeg">
                <div class="article-title">
                    <span>SCHEDULE / 2023</span>
                    <span>Canada</span>
                </div>
            </div>
            <div class="one-article">
                <img src="assets/img/driver-details/stroll/villeneuve.jpeg">
                <div class="article-title">
                    <span>DRIVERS / FEATURE</span>
                    <span>Jacques Villeneuve - 1997</span>
                </div>
            </div>
        </div>
    </div>

</div>