<section class="cetvrtaSekcija row">

    <div class="left-div col">
        <p>
            <span>NEWS</span><br>
            <a href="">
                6 Winners and 5 Losers of the 2022 Bahrain Grand Prix – Who shone under the lights in Sakhir?
            </a>
        </p>

        <div class="wrap"><img src="assets/img/news/image.jpg"></div>
    </div>


    <div class="right-div col">
        <div class="mini">
            <div class="wrap-img"><img src="assets/img/news/mala1.jpg"></div>
            <p> <span>FEATURE</span><br>
                Why Bahrain's unique layout was always going to make it hard for Verstappen to topple Leclerc</p>
        </div>

        <div class="mini">
            <div class="wrap-img"><img src="assets/img/news/mala2.jpg"></div>
            <p> <span>NEWS</span><br>
                Bottas elated with double-points finish for Alfa Romeo after 'disaster' start in Bahrain</p>
        </div>

        <div class="mini">
            <div class="wrap-img"><img src="assets/img/news/mala3.jpg"></div>
            <p><span>NEWS</span><br>
                ‘Brutal’ double Red Bull retirement ‘extremely painful’ says Verstappen, as team reveal cause of Bahrain
                issues</p>
        </div>

        <div class="mini">
            <iframe  width="300" height="170" src="https://www.youtube.com/embed/rWgJGe6nT5o?autoplay=1&amp&controls=0&amp&mute=1"
                title="How Vettel Went From the Most Hated to the Most Loved Driver In F1" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p><span>REPORT</span><br>
                Leclerc leads 1-2 for Ferrari in Bahrain GP as both Red Bulls suffer late retirements</p>
        </div>

        <div class="mini">
            <div class="wrap-img"><img src="assets/img/news/mala5.jpg"></div>
            <p><span>NEWS</span><br>
                Hamilton calls Bahrain podium ‘pretty remarkable’ after troubled start to 2022 for Mercedes</p>
        </div>

        <div class="mini">
            <div class="wrap-img"><img src="assets/img/news/mala6.jpg"></div>
            <p><span>NEWS</span><br>
                'The craziness continues!' – Magnussen ecstatic with P5 on F1 return</p>
        </div>

        <a class="aView" href="">VIEW LATEST NEWS<i class="bi bi-chevron-right"></i></a>
    </div>



</section>