<div class="main">
    <div class="row first-section">
        <div class="col left-col">
            <img src="assets/img/driver-details/alonso/alonso.jpeg">
            <div class="below-photo1">
                <span>55</span>
                <img src="assets/img/countries/6.png">
                <h1>Fernando Alonso</h1>
            </div>
        </div>
        <div class="col right-col">
            <div class="helmet-h2-div">
                <img src="assets/img/driver-details/sainz/helmet.png">
                <div class="h2-div">
                    <h2>Official merchandise</h2>
                    <h2>Official memorabilia</h2>
                </div>
            </div>
            <div>
                <table class="table">

                    <tbody>
                        <tr>
                            <td>Team</td>
                            <td>Aston Martin</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>Spain</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>98</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>2061</td>
                        </tr>
                        <tr>
                            <td>Grands Prix entered</td>
                            <td>358</td>
                        </tr>
                        <tr>
                            <td>World Championships</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Highest race finish</td>
                            <td>1 (x32)</td>
                        </tr>
                        <tr>
                            <td>Highest grid position</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td>29/07/1981</td>
                        </tr>
                        <tr>
                            <td>Place of birth</td>
                            <td>Oviedo, Spain</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="second-section">
        <div class="one-div">
            <div class="wrap-img"><img src="assets/img/driver-details/bottas/num-1.jpeg"></div>
            <div class="paragraf">
              <span><i class="bi bi-clock"></i>11 JAN 2023</span>
              <p>The records that could be broken by Hamilton, Verstappen, Leclerc and</p>
              <span>FEATURE</span>
            </div>
          </div>
        <div class="one-div">
            <div class="wrap-img"><img src="assets/img/driver-details/leclerc/num1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>07 JAN 2023</span>
                <p>PERSONALITY TEST: Which F1 driver should you support in 2023?</p>
                <span>POLL</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="assets/img/driver-details/alonso/num-3.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>05 JAN 2023</span>
                <p>WATCH: From magic in Montreal to a Brazilian barnstormer – The defining</p>
                <span>VIDEO</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="assets/img/driver-details/alonso/num-4.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>03 JAN 2023</span>
                <p>Aston Martin excited to work with ‘very motivated’ Alonso as they set out</p>
                <span>NEWS</span>
            </div>
        </div>
    </div>

    <div class="third-section">
        <h1>Biography</h1>
        <p>Michael Schumacher was the undisputed king of Formula 1 in the early 2000s, picking up wins and championships at a rate that was simply unheard of at the time. It was going to take someone very special to topple the Ferrari legend from his throne – and that it was Fernando Alonso who did it, tells you all you need to know about the Spaniard.</p>
        <p>Fiercely competitive, Alonso is not shy about his talent, rating himself as 9/10 “in everything”, and few in the know would disagree, with his performances in F1 characterised by blistering speed, brilliant tactical thinking, exemplary race craft, a razor-sharp eye for detail and a relentless determination to win.</p>
        <p>A serial record breaker in his early days, he was – at one time – F1’s youngest polesitter, race winner, world champion and double world champion as he gobbled up success with the Renault team. Even Alonso couldn’t continue that amazing run in his later career though, failing to add another title to his collection despite spells at McLaren and Ferrari.</p>
        <p>But after two years away from Formula 1 racing – and with two Le Mans wins in his pocket – Alonso returned with Alpine in 2021. His speed and determination undiminished, he was back on the podium that year, but frustrated by poor reliability – and the lack of a long-term contract – the following season, he opted to jump ship once more.</p>
        <p>Now Alonso hopes Aston Martin will be the team with whom he finally returns to winning ways, as he has unfinished business with F1…</p>

        <div id="teamCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/img/driver-details/alonso/slide-1.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/driver-details/alonso/slide-2.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/driver-details/alonso/slide-3.jpeg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/driver-details/alonso/slide-4.jpeg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/driver-details/alonso/slide-5.jpeg" alt="Fifth slide">
                </div>
            </div>

            <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>

    </div>

    <div class="fourth-section">
        <h1>YOU MIGHT ALSO LIKE</h1>
        <div class="also-divs">
            <div class="also-div">
                <img src="assets/img/driver-details/alonso/also-1.webp">
                <div class="span-group">
                    <span>TEAMS / TEAMS</span>
                    <span>Aston Martin</span>
                </div>
            </div>
            <div class="also-div">
                <img src="assets/img/driver-details/stroll/stroll.jpeg">
                <div class="span-group">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Lance Stroll</span>
                </div>
            </div>
            <div class="also-div">
                <img src="assets/img/driver-details/sainz/also-4.webp">
                <div class="span-group">
                    <span>DRIVERS / FEATURE</span>
                    <span>Fernando Alonso - 2005,2006</span>
                </div>
            </div>
            <div class="also-div">
                <img src="assets/img/driver-details/alonso/also-4.jpg">
                <div class="span-group">
                    <span>SCHEDULE / 2023</span>
                    <span>Spain</span>
                </div>
            </div>
        </div>
    </div>

</div>