<div class="main">
    <div class="row first-section">
        <div class="col left-col">
            <img src="assets/img/driver-details/bottas/bottas.jpeg">
            <div class="below-photo1">
                <span>77</span> 
                <img src="../assets/img/countries/finland.png">
                <h1>Valtteri Bottas</h1>
            </div>
        </div>
        <div class="col right-col">
            <div class="helmet-h2-div">
              <img src="assets/img/driver-details/bottas/helmet.png">
              <div class="h2-div">
                  <h2>Official merchandise</h2>
                  <h2>Official memorabilia</h2>
              </div>
            </div>
            <div>
                <table class="table">
                 
                    <tbody>
                      <tr>
                        <td>Team</td>
                        <td>Alfa Romeo</td>
                      </tr>
                      <tr>
                        <td>Country</td>
                        <td>Finland</td>
                      </tr>
                      <tr>
                        <td>Podiums</td>
                        <td>67</td>
                      </tr>
                      <tr>
                        <td>Points</td>
                        <td>1787</td>
                      </tr>
                      <tr>
                        <td>Grands Prix entered</td>
                        <td>200</td>
                      </tr>
                      <tr>
                        <td>World Championships</td>
                        <td>N/A</td>
                      </tr>
                      <tr>
                        <td>Highest race finish</td>
                        <td>1 (x10)</td>
                      </tr>
                      <tr>
                        <td>Highest grid position</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Date of birth</td>
                        <td>28/08/1989</td>
                      </tr>
                      <tr>
                        <td>Place of birth</td>
                        <td>Nastola, Finland</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <div class="second-section">
      <div class="one-div">
        <div class="wrap-img"><img src="assets/img/driver-details/bottas/num-1.jpeg"></div>
        <div class="paragraf">
          <span><i class="bi bi-clock"></i>11 JAN 2023</span>
          <p>The records that could be broken by Hamilton, Verstappen, Leclerc and</p>
          <span>FEATURE</span>
        </div>
      </div>
      <div class="one-div">
        <div class="wrap-img"><img src="assets/img/driver-details/leclerc/num1.jpeg"></div>
        <div class="paragraf">
          <span><i class="bi bi-clock"></i>07 JAN 2023</span>
          <p>PERSONALITY TEST: Which F1 driver should you support in 2023?</p>
          <span>POLL</span>
        </div>
      </div>
      <div class="one-div">
        <div class="wrap-img"><img src="assets/img/driver-details/leclerc/num2.jpeg"></div>
        <div class="paragraf">
          <span><i class="bi bi-clock"></i>27 DEC 2022</span>
          <p>REVEALED: The F1 team bosses choose their top 10 drivers of 2022</p>
          <span>FEATURE</span>
        </div>
      </div>
      <div class="one-div">
        <div class="wrap-img"><img src="assets/img/driver-details/bottas/num-4.jpeg"></div>
        <div class="paragraf">
          <span><i class="bi bi-clock"></i>01 DEC 2022</span>
          <p>Best drives, biggest shocks, and funniest moments – Our writers</p>
          <span>FEATURE</span>
        </div>
      </div>
     
    </div>


    <div class="third-section">
      <h1>Biography</h1>
      <p>Learning his craft on Finnish roads of ice and snow, he was born to be a Grand Prix racer.</p>
      <p>Bottas explains that if you can drive on the frozen roads of his homeland then you can drive anywhere. Then there’s the Finnish mentality –reserved, diligent and calm the fast lane of F1 doesn’t faze him.</p>
      <p>Making his F1 debut with Williams in 2013, Bottas soon became part of the family. Points and podiums followed with the reliable racer even amassing the most points without a win, a record he resented but that showcased his ability. The fact the Finn was such a points machine saw him suddenly promoted to the most coveted seat in F1 - Nico Rosberg’s vacant championship-winning seat at Mercedes.</p>
      <p>Bottas blossomed at the Silver Arrows in 2017, unleashing his pace to clock up personal pole positions and victories as well as a team championship for the famous Mercedes marque alongside Lewis Hamilton. He even tied with Hamilton and Sebastian Vettel with 13 podiums.</p>
      <p>For a shy guy, it brought a confidence boost and a new swagger – albeit in a very demur Finnish fashion. He would need all that confidence in 2018 – a season Bottas described as his worst in F1, as he took zero wins to Hamilton’s 11. That, though, was a reflection more of his team mate’s brilliance than of any shortcomings on his own part.</p>
      <p>Bottas stepped it up a level in 2019, four victories securing a convincing second in the championship behind Hamilton, but that dropped to two wins to his team mate's 11 in 2020 and then just one in 2021, prompting Mercedes to drop him after five seasons.</p>
      <p>In 2022 he started a new chapter in his F1 career, replacing compatriot Kimi Raikkonen to lead an all-new line-up at Alfa Romeo, and taking Chinese rookie Zhou Guanyu under his wing.</p>

      

      <div id="teamCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="assets/img/driver-details/bottas/slide-1.jpeg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/driver-details/bottas/slide-2.jpeg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/driver-details/bottas/slide-3.jpeg" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/driver-details/bottas/slide-4.jpeg" alt="Fourth slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/driver-details/bottas/slide-5.jpeg" alt="Fifth slide">
            </div>
        </div>

        <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

    </div>

    <div class="fourth-section">
      <h1>YOU MIGHT ALSO LIKE</h1>
      <div class="also-divs">
        <div class="also-div">
         <img src="assets/img/driver-details/bottas/also-1.jpg">
          <div class="span-group">
            <span>TEAMS / TEAMS</span>
            <span>Alfa Romeo</span>
          </div>
        </div>
        <div class="also-div">
          <img src="assets/img/driver-details/guanyu/zhou.jpeg">
          <div class="span-group">
            <span>DRIVERS / DRIVERS</span>
            <span>Zhou Guanyu</span>
          </div>
        </div>
        <div class="also-div">
          <img src="assets/img/driver-details/bottas/also-2.jpg">
          <div class="span-group">
            <span>DRIVERS / FEATURE</span>
            <span>Mikka Hakkinen - 1998,1999</span>
          </div>
        </div>
        <div class="also-div">
          <img src="assets/img/driver-details/bottas/also-4.jpg">
          <div class="span-group">
            <span>DRIVERS / FEATURE</span>
            <span>Kimmi Raikkonen - 2007</span>
          </div>
        </div>
      </div>
    </div>

</div>