<div class="row top-bar-list">
    <div class="col">
        <button>SIGN UP & SAVE 10%</button>
    </div>
    <div class="col">
        <nav>
            <ul>
                <li><a href="">Track Order</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">My Account</a></li>
                <li class="languages">
                    <a href="">Language<i class="bi bi-caret-down-fill"></i></a>
                    <div class="all-drop-downs languages-dropdown-content">
                        <ul>
                            <li>English</li>
                            <li>Deutsch</li>
                            <li>Espanol</li>
                            <li>Francais</li>
                            <li>Italiano</li>
                            <li>Chinese</li>
                        </ul>
                    </div>
                </li>
                <li class="curencies">
                    <a href="">GBP<i class="bi bi-caret-down-fill"></i></a>
                    <div class="all-drop-downs curencies-dropdown-content">
                        <ul>
                            <li>AUD A$</li>
                            <li>CNY CNY</li>
                            <li>EUR $</li>
                            <li>GBR</li>
                            <li>JPY JPY</li>
                            <li>USD US$</li>
                        </ul>
                    </div>
                </li>

                <li><button><i class="bi bi-cart-fill"></i></button></li>
            </ul>

        </nav>
    </div>
</div>

<div class="search-store">
    <img src="assets/img/f1 logo.png">
    <h1>Store</h1>
    <div class="wrap-input"><input type="text" name="" id="" placeholder="Search"><i class="bi bi-search"></i></div>
</div>

<div class="shop-for">
    <ul>
        <li class="shop-by-team">
            <a href="">SHOP BY TEAM</a>

            <div class="drop-all-left shop-by-team-dropdown-content">
                <div class="wrap-table">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><img src="assets/img/logos/alfa-romeo-logo.webp"><a href="">Alfa Romeo Racing</a></td>
                                <td><img src="assets/img/logos/aston-logo.png"><a href="">Aston Martin</a></td>
                                <td><a href="">Pirelli</a></td>
                                <td><img src="../assets/img/logos/ferrari.png"><a href="">Scuderia Ferrari</a></td>
                            </tr>
                            <tr>
                                <td><img src="assets/img/logos/alphat.png"><a href="">AlphaTauri</a></td>
                                <td><img src="assets/img/logos/mclaren.png"><a href="">McLaren F1 Team</a></td>
                                <td><img src="assets/img/logos/redbull-logo.png"><a href="">Red Bull</a></td>
                                <td><img src="assets/img/logos/w.webp"><a href="">Williams Racing</a></td>
                            </tr>
                            <tr>
                                <td><img src="assets/img/logos/alpine-logo.png"><a href="">Alpine</a></td>
                                <td><img src="assets/img/logos/mercedes.png"><a href="">Mercedes AMG Petronas F1
                                        Team</a></td>
                                <td style="display:none;"></td>
                                <td style="display:none;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="f1-merch"><span>Formula1Merchandise</span></div>
            </div>
        </li>

        <li class="shop-by-driver">
            <a href="">SHOP BY DRIVER</a>

            <div class="drop-all-left drop-table shop-by-driver-dropdown-content">

                <table class="table">
                    <thead>
                        <th>Drivers</th>
                        <th></th>
                        <th></th>
                        <th>Legends</th>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Alexander Albon</td>
                            <td>Carlos Sainz</td>
                            <td>Charles Leclerc</td>
                            <td>Ayrton Senna</td>
                        </tr>
                        <tr>
                            <td>Esteban Ocon</td>
                            <td>Fernando Alonso</td>
                            <td>George Russell</td>
                            <td>Kimi Raikkonen</td>
                        </tr>
                        <tr>
                            <td>Lando Norris</td>
                            <td>Lewis Hamilton</td>
                            <td>Max Verstappen</td>
                            <td>Michael Schumacher</td>
                        </tr>
                        <tr>
                            <td>Daniel Ricciardo</td>
                            <td>Lance Stroll</td>
                            <td>Sebastian Vettel</td>
                            <td>Sergio Perez</td>
                        </tr>
                        <tr>
                            <td>Valtteri Bottas</td>
                            <td>Yuki Tsunoda</td>
                            <td style="display:none ;"></td>
                            <td style="display:none ;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </li>


        <li><a href="">MEN</a></li>
        <li><a href="">WOMEN</a></li>
        <li><a href="">KIDS</a></li>


        <li class="shop-gifts"><a href="">GIFTS & ACCESSORIES</a>

            <div class="shop-gifts-dropdown-content drop-all-right drop-table">
        
            <table class="table">
                <tbody>

                    <tr>
                        <td>Accessories</td>
                        <td>Backpacks & Bags</td>
                        <td>Home & Office</td>
                        <td>Rompers</td>
                    </tr>
                    <tr>
                        <td>Auto Accessories</td>
                        <td>Face Coverings</td>
                        <td>Pants</td>
                        <td>Shorts</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </li>

        
        <li class="shop-collectables">
            <a href="">COLLECTABLES</a>
        
            <div class="drop-all-right drop-table shop-collectables-dropdown-content">
        
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Model Cars</td>
                            <td>Posters</td>
                        </tr>    
                    </tbody>
                </table>
                
            </div>
        </li>
        <li><a href="">CLEARANCE</a></li>
    </ul>
</div>

<div class="row g-0 fourth-row">
    <div class="col-3">
        <h1>DEAL ENDS SOON!</h1>
    </div>
    <div class="col">
        <img src="assets/img/65off.webp" width="100%">
    </div>
</div>