<div class="main">

    <section class="first-section">
        <div class="first-half-div">
            <div class="text">
                <h1>STREAM F1 LIVE, YOUR WAY</h1>
                <span>Watch every F1 session live or on demand, on your favourite device.</span>
            </div>
            <div class="img">
                <img src="assets/img/subscribe/1.avif"><i class="bi bi-play-fill"></i>
            </div>
        </div>
        <div class="second-half-div">
            <div class="f1-live">
                <img src="assets/img/f1 logo.png"><span class="span-a">TV Pro</span><br>
                <span class="span-b">€64.99</span> <br>
                <span class="span-c">/ Year</span>
                <p>Watch every F1 Race live or on demand</p><br>
                <button>SUBCRIBE NOW</button>
            </div>
            <div class="f1-live">
                <img src="assets/img/f1 logo.png"><span class="span-a">TV Access</span><br>
                <span class="span-b">€26.99</span> <br>
                <span class="span-c">/ Year</span>
                <p>F1 live timing data and delayed race replays</p><br>
                <button>SUBCRIBE NOW</button>
            </div>
        </div>
        <a href="">MORE DETAILS</a>
    </section>

    <section class="second-section">
        <h1>STREAM F1 YOUR WAY</h1>
        <div class="wrap-stream">
            <span class="kosa-crta kosa-crta1"></span>
            <div class="stream-f1">
                <div class="stream-one-div">
                    <h3>WATCH F1 LIVE</h3>
                    <p>F1 live and on demand. Stream practice sessions, qualifying and the races, ad free, anywhere, any
                        time.</p>
                    <img src="assets/img/subscribe/1:3-live.avif">
                </div>
                <div class="stream-one-div">
                    <h3>ONBOARD CAMERAS</h3>
                    <p>Choose to ride with any driver, swapping any time, with live onboard feeds.</p>
                    <img src="assets/img/subscribe/2:3-live.avif">
                </div>
                <div class="stream-one-div">
                    <h3>TEAM RADIO</h3>
                    <p>Listen to live radio of every driver on the grid, from last-second pitwall calls to epic
                        over-the-line triumphs.</p>
                    <img src="assets/img/subscribe/3:3-live.avif">
                </div>
            </div>
            <button>GET F1 TV</button>
            <span class="kosa-crta kosa-crta2"></span>
        </div>
    </section>

    <section class="third-section">
        <div class="just-color"></div>
        <div class="background-black-img"></div>

        <div class="caption">
            <h1>LIVE TIMING</h1>
            <h2>Set up your pit wall with F1 live timing data.</h2>
            <h3>LIVE DRIVER MAPS</h3>
            <h4>Track every car in real time with live driver maps.</h4>
            <button>SUBSCRIBE</button>
        </div>

        <img src="assets/img/subscribe/stf1-LT-team-radio.avif">
    </section>

    <section class="fourth-section">
        <div class="title">
            <h1>SHOWS. DOCUMENTARIES. <br> ARCHIVES.</h1>
            <p>F1 TV is the home of F1's pre- and post-race live shows, analysis, Tech Talks, documentaries and the <br> official
                F1 archive.</p>
        </div>
        <img src="assets/img/subscribe/1-group.avif" alt="">
        <button>WATCH NOW</button>
    </section>

    <section class="fifth-section">
        <div class="wrap-fifth-section">
            <span class="kosa-crta kosa-crta1"></span>
            <h1>WHERE TO WATCH F1 LIVE</h1>
            <p>Stream F1 on your favourite device. Watch on web, iOS, Android, Amazon Fire, Roku and Chromecast.</p>
            
            <div class="device-images">
                <div class="one-device-img"><img src="assets/img/subscribe/computer.png"><span>Computer</span></div>
                <div class="one-device-img"><img src="assets/img/subscribe/tablet.avif"><span>Tablet</span></div>
                <div class="one-device-img"><img src="assets/img/subscribe/phone.png"><span>Phone</span></div>
            </div>

            <h2>ON YOUR BIG SCREEN</h2>
            
            <div class="sponsors-images">
                <img src="assets/img/subscribe/roku.png">
                <img src="assets/img/subscribe/apple-tv.avif">
                <img src="assets/img/subscribe/google-tv.png">
                <img src="assets/img/subscribe/fire-tv.png">
            </div>
            <span class="kosa-crta kosa-crta2"></span>
        </div>
    </section>

    <section class="sixth-section">

        <h1>CHOOSE YOUR PLAN</h1>

        <div class="cards">
            <div class="one-card">
                <span class="kosa-crta kosa-crta1"></span>
                <div class="top-part">
                    <img src="assets/img/f1 logo.png"><span class="span-a">TV Pro</span><br>
                    <p>Watch every F1 Race live</p><br>
                    <span class="span-b">€64.99</span>
                    <span class="span-c">/ Year</span>
                </div>

                <div class="ul-group">
                    <ul>
                        WATCH F1 LIVE
                        <li><i class="bi bi-check"></i>Live stream F1</li>
                        <li><i class="bi bi-check"></i>Live onboard cameras and team radio</li>
                        <li><i class="bi bi-check"></i>Live stream F2, F3 and Porsche Supercup</li>
                    </ul>
                    <ul>
                        STREAM F1 ON DEMAND*
                        <li><i class="bi bi-check"></i>Watch Formula 1 race replays and highlights</li>
                        <li><i class="bi bi-check"></i>Replays F2, F3, Porsche Supercup</li>
                        <li><i class="bi bi-check"></i>Watch exclusive F1 shows</li>
                        <li><i class="bi bi-check"></i>Dig into F1 archive and documentaries</li>
                    </ul>

                    <button>SUBCRIBE NOW</button>
                    <span class="kosa-crta kosa-crta2"></span>
                </div>

            </div>
            <div class="one-card">
                <span class="kosa-crta kosa-crta1"></span>
                <div class="top-part">
                    <img src="assets/img/f1 logo.png"><span class="span-a">TV Access</span><br>
                    <p>F1 live timing data, the best of team radio and delayed race replays, plus the massive Formula 1 archive.</p><br>
                    <span class="span-b">€26.99</span>
                    <span class="span-c">/ Year</span>
                </div>
            
                <div class="ul-group">
                    <ul class="ul-live">
                        WATCH F1 LIVE
                        <li><i class="bi bi-x-lg"></i>Live stream support series: F2, F3 and Porsche Supercup</li>
                        <li><i class="bi bi-x-lg"></i>Live stream F1. Every track session</li>
                        <li><i class="bi bi-x-lg"></i>Live onboard cameras and team radio</li>
                    </ul>
                    <ul class="">
                        WATCH F1 REPLAYS AND HIGHLIGHTS*
                        <li><i class="bi bi-check"></i>F1 Race Replays</li>
                        <li><i class="bi bi-check"></i>Exclusive F1 documentaries</li>
                        <li><i class="bi bi-check"></i>Stream F1 archives featuring 650+ historic races</li>
                    </ul>

                    <button>SUBCRIBE NOW</button>
                    <span class="kosa-crta kosa-crta2"></span>

                </div>
            </div>
        </div>

        <div class="small-group">
            <small>*Replay availability varies.<a href="">See global coverage plan</a> </small>
            <small>†Available on the F1 App as part of your subscription plan</small>
            <small>Plan selected must be associated with your resident country and the country you are in at time of subscribing.</small>
        </div>

    </section>

    <section class="seventh-section">
        <img src="assets/img/f1_logo.svg">

        <ul>
            <li>Privacy Policy</li>
            <li>Cookie Policy</li>
            <li>Cookie Preferences</li>
            <li>Terms of use</li>
            <li>Subscription Terms</li>
            <li>FAQs</li>
        </ul>

        <span>© 2003 - 2023 Formula One World Championship Limited</span>
    </section>


    <span class="support-span"><i class="bi bi-chat-fill"></i>Support</span>
    
</div>