<div class="main">
    <h1>Haas</h1>

    <div class="row first-section">
        <div class="col left-col">

            <table class="table">

                <tbody>
                    <tr>
                        <td><img src="assets/img/logos/haas.jpeg"></td>
                        <td>
                            <div class="h2-div">
                                <h2>Year-by-year profile</h2>
                                <h2>Results Archive</h2>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Full Team Name</td>
                        <td>MoneyGram Haas F1 Team</td>
                    </tr>
                    <tr>
                        <td>Base</td>
                        <td>Kannapolis, United States</td>
                    </tr>
                    <tr>
                        <td>Team Chief</td>
                        <td>Guenther Steiner</td>
                    </tr>
                    <tr>
                        <td>Technical Chief</td>
                        <td>Simone Resta</td>
                    </tr>
                    <tr>
                        <td>Chassis</td>
                        <td>TBC</td>
                    </tr>
                    <tr>
                        <td>Power Unit</td>
                        <td>Ferrari</td>
                    </tr>
                    <tr>
                        <td>First Team Entry</td>
                        <td>2016</td>
                    </tr>
                    <tr>
                        <td>World Championships</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>Highest Race Finish</td>
                        <td>4 (x1)</td>
                    </tr>
                    <tr>
                        <td>Pole Positions</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Fastest Laps</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="col right-col">
            <div class="teammates">
                <div class="teammate-div">
                    <div class="wrap-img"><img src="assets/img/driver-details/magnussen/magnussen.jpeg"></div>
                    <div class="opis">
                        <span>20</span>
                        <span>Kevin Magnussen</span>
                        <span>Haas</span>
                    </div>
                </div>
                <div class="teammate-div">
                    <div class="wrap-img"><img src="assets/img/driver-details/hulkenberg/hulkenberg.jpeg"></div>
                    <div class="opis">
                        <span>27</span>
                        <span>Nico Hulkenberg</span>
                        <span>Haas</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row second-section">
        <div id="teamCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/img/team-details/haas/slide-1.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/team-details/haas/slide-2.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/team-details/haas/slide-3.jpeg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/team-details/haas/slide-4.jpeg" alt="Fourth slide">
                </div>
            </div>

            <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>

    </div>

    <div class="third-section">
        <h1>In profile</h1>
        <p>The youngest team on the grid, Haas made their highly impressive debut in 2016, and in the process became the
            first all-American-led F1 squad in three decades. Founded by industrialist Gene Haas, they are based in the
            United States on the same Kannapolis, North Carolina facility as his championship-winning NASCAR Sprint Cup
            Series team, Stewart-Haas Racing. The Ferrari-powered team, led by the charismatic Guenther Steiner, also
            have a UK factory in Banbury…</p>
        <span>2022</span>
        <p>Return of former driver Kevin Magnussen brings a stunning P5 result at Bahrain season-opener and a maiden
            pole position at a rain-hit Interlagos in November. Score a much-improved 37 points in total, lifting them
            to P8 in the final standings.</p>
        <a href="">Official Haas memorabilia ></a>
        <span>2021</span>
        <p>End the year without a point after opting to focus on 2022 car rather than in-season development of 2021
            machine. Mick Schumacher dominates team mate Nikita Mazepin in all-new rookie driver line-up, with a best
            result of 12th place in Hungary.</p>
        <span>2020</span>
        <p>Unable to halt their downward spiral, drop to P9 overall in the table, scoring just three points in the final
            year of the team’s Grosjean-Magnussen era. Season ends in dramatic fashion, as Romain Grosjean miraculously
            walks away from fiery, high-speed crash in Bahrain.</p>
        <span>2019</span>
        <p>The Haas fairy tale finally hits a bump in the road, as they struggle to get a handle on their recalcitrant
            VF-19 machine. Fall to eighth in the table, with Romain Grosjean and Kevin Magnussen amassing a meagre 28
            points between them.</p>
        <span>2018</span>
        <p>Rapid year-on-year progress continues with a move up to fifth in the final standings – and it could have been
            fourth were it not for unnecessary errors. Botched pit stops for both cars in Australia rob them of their
            best-ever race result, while a fuel infringement and an illegal floor lead to disqualifications in the US
            and Italy respectively. Highly promising nonetheless.</p>
        <span>2017</span>
        <p>Romain Grosjean pairs up with a new team mate in the form of feisty Dane Kevin Magnussen and Haas prove that
            their maiden campaign was no flash in the pan, scoring 47 points – 18 more than in 2016 – to retain eighth
            place in the standings.</p>
        <span>2016</span>
        <p>Field an experienced driver line-up for their inaugural season, securing the services of Romain Grosjean, a
            ten-time podium finisher with Lotus, and former Sauber racer and Ferrari tester Esteban Gutierrez. It all
            comes together in stunning fashion, with Grosjean finishing sixth and fifth in the team’s first two races,
            and going on to score a further three times to put them a highly respectable eighth in the final
            constructors’ table - the best debut by a new team this century.</p>
    </div>
  
    <div class="fourth-section">
        <div class="one-div">
            <div class="wrap-img"><img src="assets/img/team-details/haas/num-1.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>19 JAN 2023</span>
                <p>Magnussen pulls out of Daytona 24 Hours after undergoing hand surgery</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="assets/img/team-details/haas/num-2.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>13 JAN 2023</span>
                <p>Magnussen pulls out of Daytona 24 Hours after undergoing hand surgery</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="assets/img/team-details/haas/num-3.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>04 JAN 2023</span>
                <p>Haas reveal tweaked logo and official team name following arrival of new</p>
                <span>NEWS</span>
            </div>
        </div>
        <div class="one-div">
            <div class="wrap-img"><img src="assets/img/team-details/haas/num-4.jpeg"></div>
            <div class="paragraf">
                <span><i class="bi bi-clock"></i>20 DEC 2022</span>
                <p>Steiner credits Magnussen for becoming ‘more mature’ on F1 return and</p>
                <span>NEWS</span>
            </div>
        </div>
    </div>


    <div class="fifth-section">
        <h1>YOU MIGHT ALSO LIKE</h1>
        <div class="also-divs">
            <div class="also-div">
                <img src="assets/img/driver-details/magnussen/magnussen.jpeg">
                <div class="span-group">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Kevin Magnussen</span>
                </div>
            </div>
            <div class="also-div">
                <img src="assets/img/driver-details/magnussen/also-3.jpeg">
                <div class="span-group">
                    <span>SCHEDULE / 2023</span>
                    <span>Miami</span>
                </div>
            </div>
            <div class="also-div">
                <img src="assets/img/driver-details/hulkenberg/hulkenberg.jpeg">
                <div class="span-group">
                    <span>DRIVERS / DRIVERS</span>
                    <span>Nico Hulkenberg</span>
                </div>
            </div>
            <div class="also-div">
                <img src="assets/img/driver-details/magnussen/also-4.jpeg">
                <div class="span-group">
                    <span>SCHEDULE / 2023</span>
                    <span>Las Vegas</span>
                </div>
            </div>

        </div>
    </div>
</div>