.main {
    .experiences-navigation {
        background-color: red;
        color: white;

        nav {
            img {
                width: 120px;
                height: 28px;
                margin-left: 75px;
            }

            h1 {
                font-size: 40px;
                font-family: 'Montserrat', sans-serif;
                font-weight: bolder;
            }

            ul {
                padding-left: 20px;

                li {
                    padding: 15px;
                    cursor: pointer;

                    a {
                        color: white;
                        font-size: 19px;
                        vertical-align: bottom;
                    }

                    &:hover {
                        background-color: black;
                    }
                }
            }

            input {
                border: none;
                background-color: red;
                padding-bottom: 3px;
                border-bottom: 1px solid white;

                &::placeholder {
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                }
            }

        }

    }

    .banner {
        background-image: url('../../../assets/img/exp-background.jpeg');
        background-size: cover;
        background-position: 50% 75%;
        height: 400px;
        padding-left: 60px;
        padding-top: 100px;

        h1 {
            color: white;
            font-size: 55px;
            font-weight: bold;
        }

        button {
            border: none;
            padding: 15px;
            border-radius: 5px;
            color: #373737;
            margin-top: 40px;
            letter-spacing: 0;

            &:hover {
                background-color: rgb(227, 225, 225);
            }

            i {
                color: red;
                vertical-align: baseline;
                margin-left: 5px;
            }
        }
    }

    .sections {
        padding: 50px 70px;
        background-color: #f7f4f1;


        .race-packages {
            .wrap-scroller {
                padding: 20px 10px 20px 0px;
                border: 10px solid red;
                border-left: none;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                position: relative;

                h2 {
                    display: inline;
                    position: absolute;
                    top: -25px;
                    left: 0;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 10px 10px 10px 22px;
                    background-color: #f7f4f1;
                }

                .scroller {
                    overflow-y: scroll;
                    padding: 10px 10px 10px 0;
                    height: 500px;

                    .h1 {
                        font-size: 22px;
                        margin: 10px 0;
                    }

                    ul {
                        cursor: pointer;

                        li {
                            background-color: white;
                            padding: 25px 10px;
                            margin: 2px 0;
                            display: flex;
                            text-align: center;
                            align-items: center;

                            div:first-child {
                                display: grid;
                                height: 45px;
                                width: 110px;
                                border-right: 1px dotted grey;
                                margin-right: 20px;

                                span:first-child {
                                    font-size: 19px;
                                }

                                span:last-child {
                                    padding: 3px 5px;
                                    border-radius: 10px;
                                    font-size: 12px;
                                    background-color: #e1dddd;
                                    color: #6b6b71;
                                    letter-spacing: 0;
                                    align-self: center;
                                    margin: 0 auto;
                                }
                            }

                            div:nth-child(2) {
                                display: flex;

                                img {
                                    height: 32px;
                                    width: 47px;
                                    border: 1px solid hsla(0, 0%, 47.1%, .4);
                                    border-radius: 5px;
                                    margin-right: 10px;
                                    align-self: center;
                                }

                                .race {
                                    display: grid;
                                    text-align: left;

                                    p {
                                        font-size: 18px;
                                        padding-bottom: 5px;
                                        font-weight: bold;
                                    }

                                }
                            }

                            div:last-child {
                                margin: 0 0 0 auto;

                                button {
                                    border: 1px solid grey;
                                    font-size: 13px;
                                    padding: 8px;
                                    background-color: white;
                                    border-radius: 5px;
                                    width: 100px;

                                    i {
                                        vertical-align: baseline;
                                        color: red;
                                    }
                                }
                            }
                        }

                    }
                }
            }

            .extra-packages {

                .mini {
                    width: 300px;
                    cursor: pointer;

                    img {
                        height: 170px;
                        width: 300px;

                    }

                    p {
                        padding: 15px 15px 30px 15px;
                        margin-top: 20px;
                        border-right: 1px solid #c5c0c0;
                        border-bottom: 1px solid #c5c0c0;
                        border-bottom-right-radius: 15px;
                        line-height: 20px;
                        font-size: 15px;

                        span {
                            color: red;
                        }
                    }


                    &:first-child {
                        margin-bottom: 30px;
                    }

                }
            }
        }


        .register-for-tickets {
            padding-top: 90px;

            h2 {
                font-size: 20px;
                font-weight: bold;
            }

            hr {
                border-width: 10px;
                border-color: black;
            }

            p {
                margin: 30px 0;
            }

            .forms {
                display: flex;
                justify-content: space-between;

                form {

                    input[type=text],
                    input[type=email],
                    select,
                    textarea {
                        padding: 3px 220px 3px 10px;
                        border-radius: 0;
                    }

                    input::placeholder,
                    textarea::placeholder {
                        color: grey;
                    }

                    select:first-child {
                        color: #5b5959;
                    }

                    .form-group {
                        margin: 15px 0;
                    }

                    input[type=checkbox] {
                        margin-right: 5px;
                    }

                    label {
                        vertical-align: sub;
                        cursor: pointer;
                    }

                    small {
                        font-size: 13px;
                        padding-left: 5px;
                    }

                    .select {
                        position: relative;

                        i {
                            position: absolute;
                            top: 10px;
                            right: 5px;
                        }
                    }

                    button {
                        display: block;
                        margin: 0 0 0 auto;
                        background-color: red;
                        border: none;
                        font-size: 13px;
                        padding: 9px 16px;

                        &:hover {
                            background-color: #a82929;
                        }
                    }
                }
            }
        }

    }

    .leave-a-message {
        position: fixed;
        bottom: 0;
        right: 10px;
        padding: 5px;
        cursor: pointer;

        a {
            text-decoration: none;
            background-color: red;
            font-size: 14px;
            font-weight: bold;
            padding: 8px;
            color: white;
            border-top-right-radius: 5px;

        }

        i {
            padding: 7px;
            background-color: rgb(211, 12, 12);
            color: white;
            border-top-left-radius: 5px;

        }

    }
}


.navbar {
    padding: 0;
}