<div class="main">
    <div class="experiences-navigation">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"><img src="assets/img/f1_logo.svg"></a>
            <h1>Experiences</h1>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Races</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">How to Attend</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="banner">
        <h1>THE CLOSEST YOU CAN <br> GET TO FORMULA 1®</h1>
        <button>SELECT YOUR RACE<i class="bi bi-chevron-right"></i></button>
    </div>

    <div class="sections">

        <div class="row race-packages">
            <div class="col-9 wrap-scroller mt-4">
                <h2>F1® Schedule</h2>
                <div class="scroller">
                    <span class="h1">2023 Ticket Packages</span>
                    <ul>
                        <li>
                            <div>
                                <span>02-05</span>
                                <span>MAR</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/2-1 .jpg">
                                <div class="race">
                                    <p>FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2023</p>
                                    <span>Sakhir,Bahrain</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>17-19</span>
                                <span>MAR</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/1.png">
                                <div class="race">
                                    <p>FORMULA 1 STC SAUDI ARADIAN GRAND PRIX 2023</p>
                                    <span>Jeddah,Saudi Arabia</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>30-02</span>
                                <span>MAR-APR</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/3.jpg">
                                <div class="race">
                                    <p>FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2023</p>
                                    <span>Melbourne,Australia</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>27-30</span>
                                <span>APR</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/8.png">
                                <div class="race">
                                    <p>FORMULA 1 AZERBAIJAN GRAND PRIX 2023</p>
                                    <span>Baku,Azerbaijan</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>04-07</span>
                                <span>MAY</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/5.png">
                                <div class="race">
                                    <p>FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2023</p>
                                    <span>Miami,Florida</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>18-21</span>
                                <span>MAY</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/4.png">
                                <div class="race">
                                    <p>FORMULA 1 GRAN PREMIO DEL MADE IN ITALY E <br> DELL'EMILIA-ROMAGNA 2023
                                    </p>
                                    <span>Imola, Italy</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>25-28</span>
                                <span>MAY</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/7.png">
                                <div class="race">
                                    <p>FORMULA 1 GRAND PRIX DE MONACO 2023</p>
                                    <span>Monte Carlo, Monaco</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>01-04</span>
                                <span>JUN</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/6.png">
                                <div class="race">
                                    <p>FORMULA 1 GRAN PREMIO DE ESPAÑA 2023</p>
                                    <span>Barcelona, Spain</span>
                                </div>
                            </div>
                            <div>
                                <button>VIEW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>15-18</span>
                                <span>JUN</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/9.png">
                                <div class="race">
                                    <p>FORMULA 1 GRAND PRIX DU CANADA 2023</p>
                                    <span>Montréal, Canada</span>
                                </div>
                            </div>
                            <div>
                                <button>VIEW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>29-02</span>
                                <span>JUN-JUL</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/austria.webp">
                                <div class="race">
                                    <p>FORMULA 1 GROSSER PREIS VON ÖSTERREICH 2023</p>
                                    <span>Spielberg, Austria</span>
                                </div>
                            </div>
                            <div>
                                <button>VIEW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>06-09</span>
                                <span>JUL</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/10.png">
                                <div class="race">
                                    <p>FORMULA 1 ARAMCO BRITISH GRAND PRIX 2023</p>
                                    <span>Silverstone, England</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>20-23</span>
                                <span>JUL</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/hungary.png">
                                <div class="race">
                                    <p>FORMULA 1 MAGYAR NAGYDÍJ 2023</p>
                                    <span>Budapest, Hungary</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>27-30</span>
                                <span>JUL</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/belgium.png">
                                <div class="race">
                                    <p>FORMULA 1 BELGIAN GRAND PRIX 2023</p>
                                    <span>Spa-Francorchamps, Belgium</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>24-27</span>
                                <span>AUG</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/holandija.jpg">
                                <div class="race">
                                    <p>FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2023</p>
                                    <span>Zandvoort, Netherlands</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>31-03</span>
                                <span>AUG-SEP</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/4.png">
                                <div class="race">
                                    <p>FORMULA 1 GRAN PREMIO D'ITALIA 2023</p>
                                    <span>Monza, Italy</span>
                                </div>
                            </div>
                            <div>
                                <button>VIEW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>15-17</span>
                                <span>SEP</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/singapur.png">
                                <div class="race">
                                    <p>FORMULA 1 SINGAPORE AIRLINES SINGAPORE <br> GRAND PRIX 2023</p>
                                    <span>Marina Bay Street Circuit, Singapore</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>21-24</span>
                                <span>SEP</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/japan.png">
                                <div class="race">
                                    <p>FORMULA 1 LENOVO JAPANESE GRAND PRIX 2023</p>
                                    <span>Suzuka, Japan</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>05-08</span>
                                <span>OCT</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/qatar.png">
                                <div class="race">
                                    <p>FORMULA 1 QATAR GRAND PRIX 2023</p>
                                    <span>Doha, Qatar</span>
                                </div>
                            </div>
                            <div>
                                <button>VIEW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>19-22</span>
                                <span>OCT</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/5.png">
                                <div class="race">
                                    <p>FORMULA 1 LENOVO UNITED STATES GRAND PRIX 2023</p>
                                    <span>Austin, Texas</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>26-29</span>
                                <span>OCT</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/mexico.webp">
                                <div class="race">
                                    <p>FORMULA 1 GRAN PREMIO DE LA CIUDAD DE <br> MÉXICO 2023</p>
                                    <span>Mexico City, Mexico</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>02-05</span>
                                <span>NOV</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/brazil.webp">
                                <div class="race">
                                    <p>FORMULA 1 ROLEX GRANDE PRÊMIO DE SÃO PAULO 2023</p>
                                    <span>São Paulo, Brazil</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>23-26</span>
                                <span>NOV</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/5.png">
                                <div class="race">
                                    <p>FORMULA 1 HEINEKEN SILVER LAS VEGAS GRAND <br> PRIX 2023</p>
                                    <span>Las Vegas, Nevada</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>

                        <li>
                            <div>
                                <span>24-27</span>
                                <span>AUG</span>
                            </div>
                            <div>
                                <img src="assets/img/countries/abu-dhabi.png">
                                <div class="race">
                                    <p>FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX <br> 2023</p>
                                    <span>Yas Island, Abu Dhabi</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY NOW<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </li>
                    </ul>
                    <p style="font-size: 13px;">*subject to FIA/F1® calendar</p>
                </div>
            </div>
            <div class="col-3 extra-packages">
                <div class="mini">
                    <img src="assets/img/mini-1.jpeg">
                    <p><span>ON SALE NOW</span> - FORMULA 1 HEINEKEN SILVER LAS VEGAS GRAND PRIX 2023</p>
                </div>
                <div class="mini">
                    <img src="assets/img/mini-2.jpeg">
                    <p>Book your Grand Prix™ weekend hotel room through F1 Experiences®</p>
                </div>

            </div>
        </div>

        <div class="register-for-tickets">
            <h2>Request Information</h2>
            <hr>
            <p>Want to discuss Official Ticket Packages about a particular race? Please complete the form below and
                we’ll be in touch!</p>

            <div class="forms">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone">
                    </div>

                </form>

                <form>

                    <div class="form-group select">
                        <select class="form-control">
                            <option>Event</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <i class="bi bi-chevron-down"></i>
                        <small>Please select an event</small>
                    </div>
                    <div class="form-group select">
                        <select class="form-control">
                            <option>Number of People</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <i class="bi bi-chevron-down"></i>
                    </div>
                    <div class="mt-3">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">Is this request for a corporate group?</label>
                    </div>
                    <div class="mt-3">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">Are you a Travel Adviser/Reseller?</label>
                    </div>
                </form>


                <form>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Comments"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </form>
            </div>


        </div>
    </div>

    <div class="leave-a-message"><i class="bi bi-envelope-fill"></i><a href="">Leave a message</a></div>

</div>