<section>
    <div class="grey-area">
        <h1>Constructor Standings</h1>

        <div class="first-three-places">

            <div class="one-team"> 
                <img src="../assets/img/logos/ferrari.png" alt="">
                <img src="../assets/img/formule/formula-br-6.png">
            </div>

            <div class="one-team first-place">
                <img src="../assets/img/logos/ferrari.png" alt="">
                <img src="../assets/img/formule/formula-br-6.png">
            </div>

            <div class="one-team">
                <img src="../assets/img/logos/redbull-logo.png" alt="">
                <img src="../assets/img/formule/formula-br-10.png">
            </div>
        </div>
    </div>
    
    <div class="tabela">
        <ul>
            <li>
                <a href="" [routerLink]="['/f1/red-bull']">
                    <div class="nameOfDriver">
                        <span class="broj">1</span> <span class="crtica boja-red-bull"></span> <span>Red Bull Racing </span>
                        <span class="drivers">Verstappen/Perez</span>
                    </div>
                    <div class="score">
                        <img src="../assets/img/formule/formula-br-10.png">
                        <span class="second-span">759 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/ferrari']">
                    <div class="nameOfDriver">
                        <span class="broj">2</span><span class="crtica boja-ferari"></span> <span>Ferrari</span>
                        <span class="drivers">Leclerc/Sainz</span>
                    </div>
                    <div class="score">
                        <img src="../assets/img/formule/formula-br-6.png">
                        <span class="second-span">554 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/mercedes']">
                    <div class="nameOfDriver">
                        <span class="broj">3</span> <span class="crtica boja-merc"></span> <span>Mercedes</span>
                        <span class="drivers">Hamilton/Russel</span>
                    </div>
                    <div class="score">
                        <img src="../assets/img/formule/formula-br-7.png">
                        <span class="second-span">551 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/alpine']">
                    <div class="nameOfDriver">
                        <span class="broj">4</span> <span class="crtica boja-alpine"></span> <span>Alpine</span>
                        <span class="drivers">Alonso/Ocon</span>
                    </div>
                    <div class="score">
                        <img src="../assets/img/formule/formula-br-8.png">
                        <span class="second-span">173 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/mclaren']">
                    <div class="nameOfDriver">
                        <span class="broj">5</span>  <span class="crtica boja-mclaren"></span><span>McLaren</span>
                        <span class="drivers">Norris/Ricciardo</span>
                    </div>
                    <div class="score">
                        <img src="../assets/img/formule/formula-br-3.png">
                        <span class="second-span">159 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/alfa-romeo']">
                    <div class="nameOfDriver">
                        <span class="broj">6</span> <span class="crtica boja-alfa"></span><span>Alfa Romeo</span>
                        <span class="drivers">Bottas/Zhou</span>
                    </div>
                    <div class="score">
                        <img src="../assets/img/formule/formula-br-1.png">
                        <span class="second-span">55 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/aston-martin']">
                    <div class="nameOfDriver">
                        <span class="broj">7</span> <span class="crtica boja-aston-martin"></span> <span>Aston Martin</span>
                        <span class="drivers">Vettel/Stroll</span>
                    </div>
                    <div class="score"> 
                        <img src="../assets/img/formule/formula-br-2.png">
                        <span class="second-span">55 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/haas']">
                    <div class="nameOfDriver">
                        <span class="broj">8</span> <span class="crtica boja-haas"></span><span>Haas</span>
                        <span class="drivers">Magnussen/Schumacher</span>
                    </div>
                    <div class="score">
                        <img src="../assets/img/formule/formula-br-9.png">
                        <span class="second-span">37 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/alphatauri']">
                    <div class="nameOfDriver">
                        <span class="broj">9</span> <span class="crtica boja-alpha-tauri"></span> <span>AlphaTauri</span>
                        <span class="drivers">Tsunoda/Gasly</span>
                    </div>
                    <div class="score">
                        <img src="../assets/img/formule/formula-br-5.png">
                        <span class="second-span">35 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/williams']">
                    <div class="nameOfDriver">
                        <span class="broj">10</span> <span class="crtica boja-williams"></span> <span>Williams</span>
                        <span class="drivers">Albon/Latifi</span>
                    </div>
                    <div class="score">
                        <img src="../assets/img/formule/formula-br-4.png">
                        <span class="second-span">8 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
        </ul>
    
        <div class="full-standings"><a href="" [routerLink]="['/f1/full-constructors-standings']">VIEW FULL STANDINGS<i class="bi bi-chevron-right"></i></a></div>
    
    </div>
</section>