<section>
    <div class="grey-area">
        <h1>Constructor Standings</h1>

        <div class="first-three-places">

            <div class="top-team"> 
                <img src="assets/img/logos/ferrari.png" alt="">
                <img src="assets/img/formule/formula-br-6.png">
            </div>

            <div class="top-team first-place">
                <img src="assets/img/logos/ferrari.png" alt="">
                <img src="assets/img/formule/formula-br-6.png">
            </div>

            <div class="top-team">
                <img src="assets/img/logos/redbull-logo.png" alt="">
                <img src="assets/img/formule/formula-br-10.png">
            </div>
        </div>
    </div>
    
    <div class="constructor-standings-list">
        <ul>
            <li>
                <a href="" [routerLink]="['/f1/red-bull']">
                    <div class="racing-drivers">
                        <span class="order">1</span> <span class="team-color-line red-bull-color"></span> <span>Red Bull Racing </span>
                        <span class="drivers">Verstappen/Perez</span>
                    </div>
                    <div class="score">
                        <img src="assets/img/formule/formula-br-10.png">
                        <span class="team-points">759 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/ferrari']">
                    <div class="racing-drivers">
                        <span class="order">2</span><span class="team-color-line ferrari-color"></span> <span>Ferrari</span>
                        <span class="drivers">Leclerc/Sainz</span>
                    </div>
                    <div class="score">
                        <img src="assets/img/formule/formula-br-6.png">
                        <span class="team-points">554 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/mercedes']">
                    <div class="racing-drivers">
                        <span class="order">3</span> <span class="team-color-line merc-color"></span> <span>Mercedes</span>
                        <span class="drivers">Hamilton/Russel</span>
                    </div>
                    <div class="score">
                        <img src="assets/img/formule/formula-br-7.png">
                        <span class="team-points">551 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/alpine']">
                    <div class="racing-drivers">
                        <span class="order">4</span> <span class="team-color-line alpine-color"></span> <span>Alpine</span>
                        <span class="drivers">Alonso/Ocon</span>
                    </div>
                    <div class="score">
                        <img src="assets/img/formule/formula-br-8.png">
                        <span class="team-points">173 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/mclaren']">
                    <div class="racing-drivers">
                        <span class="order">5</span>  <span class="team-color-line mclaren-color"></span><span>McLaren</span>
                        <span class="drivers">Norris/Ricciardo</span>
                    </div>
                    <div class="score">
                        <img src="assets/img/formule/formula-br-3.png">
                        <span class="team-points">159 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/alfa-romeo']">
                    <div class="racing-drivers">
                        <span class="order">6</span> <span class="team-color-line alfa-romeo-color"></span><span>Alfa Romeo</span>
                        <span class="drivers">Bottas/Zhou</span>
                    </div>
                    <div class="score">
                        <img src="assets/img/formule/formula-br-1.png">
                        <span class="team-points">55 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/aston-martin']">
                    <div class="racing-drivers">
                        <span class="order">7</span> <span class="team-color-line aston-martin-color"></span> <span>Aston Martin</span>
                        <span class="drivers">Vettel/Stroll</span>
                    </div>
                    <div class="score"> 
                        <img src="assets/img/formule/formula-br-2.png">
                        <span class="team-points">55 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/haas']">
                    <div class="racing-drivers">
                        <span class="order">8</span> <span class="team-color-line haas-color"></span><span>Haas</span>
                        <span class="drivers">Magnussen/Schumacher</span>
                    </div>
                    <div class="score">
                        <img src="assets/img/formule/formula-br-9.png">
                        <span class="team-points">37 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/alphatauri']">
                    <div class="racing-drivers">
                        <span class="order">9</span> <span class="team-color-line alpha-tauri-color"></span> <span>AlphaTauri</span>
                        <span class="drivers">Tsunoda/Gasly</span>
                    </div>
                    <div class="score">
                        <img src="assets/img/formule/formula-br-5.png">
                        <span class="team-points">35 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
    
            <li>
                <a href="" [routerLink]="['/f1/williams']">
                    <div class="racing-drivers">
                        <span class="order">10</span> <span class="team-color-line williams-color"></span> <span>Williams</span>
                        <span class="drivers">Albon/Latifi</span>
                    </div>
                    <div class="score">
                        <img src="assets/img/formule/formula-br-4.png">
                        <span class="team-points">8 pts</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </li>
        </ul>
    
        <div class="full-standings"><a href="" [routerLink]="['/f1/full-constructors-standings']">VIEW FULL STANDINGS<i class="bi bi-chevron-right"></i></a></div>
    
    </div>
</section>