<section>
    <nav>
        <span (click)="setActiveSection('drivers')">DRIVERS</span>
        <span (click)="setActiveSection('constructors')">CONSTRUCTORS</span>
        <span (click)="setActiveSection('lastRace')">LAST RACE</span>
    </nav>

    <div *ngIf="activeSection === 'drivers'">
        <div class="grey-area">
            <h1>2022 Driver Standings</h1>

            <div class="first-three-places">
                <div class="one-driver">
                    <div class="white-div"></div>
                    <div class="red-div"></div>
                    <div class="grey-div">
                        <p>Carlos <img src="assets/img/countries/6.png"><br> <span>SAINZ</span></p>
                    </div>
                    <img class="vozaciSlike" src="assets/img/vozaci/sainz.png">
                </div>
                <div class="one-driver lec">
                    <div class="white-div white-div-leclerc"></div>
                    <div class="red-div red-div-leclerc"></div>
                    <div class="grey-div  grey-div-leclerc">
                        <p>Charles <img src="assets/img/countries/7.png"><br> <span>LECLERC</span>
                        </p>
                    </div>
                    <img class="vozaciSlikeNajveca" src="assets/img/vozaci/leclerc.png">
                </div>
                <div class="one-driver sainz-verstappen">
                    <div class="white-div"></div>
                    <div class="blue-div"></div>
                    <div class="grey-div">
                        <p>Max <img  src="assets/img/countries/holandija.jpg"><br><span>VERSTAPPEN</span></p>
                    </div>
                    <img class="vozaciSlike" src="assets/img/vozaci/verstappen.png">
                </div>
            </div>
        </div>
        <div class="tabela">
            <ul>
                <li>
                    <a [routerLink]="['/f1/charles-leclerc']" href="">
                        <div>
                            <span class="broj">1</span> <span
                                class="crtica boja-ferari"></span><span>Charles</span><span
                                class="lastname">Leclerc</span>
                            <span class="team">Ferrari</span>
                        </div>
                        <div>
                            <span class="second-span">45 pts</span>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/f1/carlos-sainz']" href="">
                        <div>
                            <span class="broj">2</span> <span class="crtica boja-ferari"></span><span>Carlos</span><span
                                class="lastname">Sainz</span>
                            <span class="team">Ferrari</span>
                        </div>
                        <div>
                            <span class="second-span">33 pts</span>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/f1/max-verstappen']" href="">
                        <div>
                            <span class="broj">3</span> <span class="crtica boja-red-bull"></span><span>Max</span><span
                                class="lastname">Verstappen</span>
                            <span class="team">Red Bull Racing</span>
                        </div>
                        <div>
                            <span class="second-span">25 pts</span>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/f1/george-russell']" href="">
                        <div>
                            <span class="broj">4</span> <span class="crtica boja-merc"></span><span>George</span><span
                                class="lastname">Russell</span>
                            <span class="team">Mercedes</span>
                        </div>
                        <div>
                            <span class="second-span">22 pts</span>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/f1/lewis-hamilton']" href="">
                        <div>
                            <span class="broj">5</span> <span class="crtica boja-merc"></span><span>Lewis</span><span
                                class="lastname">Hamilton</span>
                            <span class="team">Mercedes</span>
                        </div>
                        <div>
                            <span class="second-span">16 pts</span>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/f1/esteban-ocon']" href="">
                        <div>
                            <span class="broj">6</span> <span
                                class="crtica boja-alpine"></span><span>Esteban</span><span class="lastname">Ocon</span>
                            <span class="team">Alpine</span>
                        </div>
                        <div>
                            <span class="second-span">14 pts</span>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/f1/sergio-perez']" href="">
                        <div>
                            <span class="broj">7</span> <span
                                class="crtica boja-red-bull"></span><span>Sergio</span><span
                                class="lastname">Perez</span>
                            <span class="team">Red Bull</span>
                        </div>
                        <div>
                            <span class="second-span">12 pts</span>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/f1/kevin-magnussen']" href="">
                        <div>
                            <span class="broj">8</span> <span class="crtica boja-haas"></span><span>Kevin</span><span
                                class="lastname">Magnussen</span>
                            <span class="team">Haas</span>
                        </div>
                        <div>
                            <span class="second-span">12 pts</span>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/f1/valtteri-bottas']" href="">
                        <div>
                            <span class="broj">9</span> <span class="crtica boja-alfa"></span>
                            <span>Valtteri</span><span class="lastname">Bottas</span>
                            <span class="team">Alfa Romeo</span>
                        </div>
                        <div>
                            <span class="second-span">8 pts</span>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/f1/lando-norris']" href="">
                        <div>
                            <span class="broj">10</span> <span
                                class="crtica boja-mclaren"></span><span>Lando</span><span
                                class="lastname">Norris</span>
                            <span class="team">McLaren</span>
                        </div>
                        <div>
                            <span class="second-span">6 pts</span>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="full-standings"><a [routerLink]="['/f1/full-driver-standings']" href="">VIEW FULL STANDINGS<i
                        class="bi bi-chevron-right"></i></a></div>
        </div>
    </div>

    <app-constructors *ngIf="activeSection === 'constructors'"></app-constructors>

    <app-last-race *ngIf="activeSection === 'lastRace'"></app-last-race>

</section>