<div class="row first-row">
  <div class="col first-col">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#"><img src="assets/img/f1_logo.svg"></a>
      <h1>Authentics</h1>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item active ceoDrop1">
            <a class="nav-link" href="#">Teams<i class="bi bi-chevron-down"></i></a>

            <div class="dropDown1 all-drop-downs">
              <ul>
                <li class="hover-mercedes">Mercedes</li>
                <li class="hover-ferrari">Ferrari</li>
                <li class="hover-red-bull">Red Bull</li>
                <li class="hover-alfa">Alfa Romeo</li>
                <li class="hover-mclaren">McLaren</li>
                <li class="hover-alpine">Alpine</li>
                <li class="hover-haas">Haas</li>
                <li class="hover-aston">Aston Martin</li>
                <li class="hover-williams">Williams</li>
                <li class="hover-alphatauri">AlphaTauri</li>
                <li class="hover-ferrari">Pirelli</li>
                <li class="hover-ferrari">Team Archive</li>
              </ul>
            </div>

          </li>
          <li class="nav-item ceoDrop2">
            <a class="nav-link" href="#">Drivers<i class="bi bi-chevron-down"></i></a>

            <div class="dropDown2 all-drop-downs">
              <ul>
                <li>Lewis Hamilton</li>
                <li>George Russell</li>
                <li>Max Verstappen</li>
                <li>Sergio Pérez</li>
                <li>Charles Leclerc</li>
                <li>Carlos Sainz</li>
                <li>Daniel Ricciardo</li>
                <li>Lando Norris</li>
                <li>Sebastian Vettel</li>
                <li>Lance Stroll</li>
                <li>Valtteri Bottas</li>
                <li>Zhou Guanyu</li>
                <li>Fernando Alonso</li>
                <li>Esteban Ocon</li>
                <li>Mick Schumacher</li>
                <li>Kevin Magnussen</li>
                <li>Alex Albon</li>
                <li>Nicholas Latifi</li>
                <li>Pierre Gasly</li>
                <li>Kimi Räikkönen</li>
                <li>Ayrton Senna</li>
                <li>Michael Schumacher</li>
                <li>Antonio Giovinazzi</li>
                <li>Emerson Fittipaldi</li>
                <li>Driver Archive</li>
              </ul>
            </div>
          </li>

          <li class="nav-item ceoDrop3">
            <a class="nav-link" href="#">Categories<i class="bi bi-chevron-down"></i></a>

            <div class="dropDown3 all-drop-downs">
              <ul>
                <li>Sprint Sale</li>
                <li>Re-Engineered Car Parts</li>
                <li>Racewear</li>
                <li>Helmets</li>
                <li>Race Car Parts</li>
                <li>Office Accessories</li>
                <li>Official Team Merchandise</li>
                <li>Models</li>
                <li>Tables</li>
                <li>Signed</li>
                <li>Display Cases</li>
                <li>Wall Art</li>
                <li>Own The F1® Chequered Flag</li>
                <li>Coming Soon</li>
                <li>E Gift Card</li>
                <li>Race Car Simulators</li>
              </ul>
            </div>

          </li>

          <li class="nav-item ceoDrop4">
            <a class="nav-link" href="#">Auctions<i class="bi bi-chevron-down"></i></a>

            <div class="dropDown4 all-drop-downs">
              <ul>
                <li>All Auctions</li>
                <li>Closing Soon</li>
                <li>Most Popular</li>
                <li>Register to Bid</li>
                <li>How to Consign</li>
              </ul>
            </div>

          </li>


          <li class="nav-item ceoDrop5">
            <a class="nav-link" href="#">F1 Race Cars<i class="bi bi-chevron-down"></i></a>

            <div class="dropDown5 all-drop-downs">
              <ul>
                <li>Buy</li>
                <li>Results</li>
                <li>Cosign</li>
              </ul>
            </div>

          </li>
        </ul>
        <form class="form-inline">
          <input type="text" placeholder="Search Products"><i class="bi bi-search"></i>
        </form>
      </div>
    </nav>
  </div>
</div>
<div class="row">
  <img src="../assets/img/50dis.jpeg" width="100%" height="500px">
</div>

<div class="row">
  <div class="logos">
    <img class="redbull" src="assets/img/logos/redbull.jpeg">
    <img class="ferrari" src="assets/img/logos/ferrari.png">
    <img class="merc" src="assets/img/logos/mercedes.png">
    <img class="alpine" src="assets/img/logos/alpine.jpeg">
    <img class="mclaren" src="assets/img/logos/mclaren.png">
    <img class="alfa" src="assets/img/logos/alfa.jpeg">
    <img class="astonmartin" src="assets/img/logos/aston-martin.jpeg">
    <img class="haas" src="assets/img/logos/haas.jpeg">
    <img class="alphatauri" src="assets/img/logos/alphat.png">
    <img class="williams" src="assets/img/logos/w.webp">
  </div>
</div>

<div class="row carousel-row">
  <div class="col">
    <div id="teamCarousel1" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/img/autentics-photo-slides/1.webp" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/autentics-photo-slides/2.webp" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/autentics-photo-slides/3.webp" alt="Third slide">
        </div>
      </div>

      <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>

  </div>
  <div class="col">

    <div id="teamCarousel2" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/img/autentics-photo-slides/4.webp" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/autentics-photo-slides/5.webp" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/autentics-photo-slides/6.webp" alt="Third slide">
        </div>
      </div>

      <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>

  </div>
</div>

<div class="row mt-5 carousel-row">
  <div class="col">
    <div id="teamCarousel3" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/img/autentics-photo-slides/7.webp" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/autentics-photo-slides/8.webp" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/autentics-photo-slides/9.webp" alt="Third slide">
        </div>
      </div>

      <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel3" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel3" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>

  </div>
  <div class="col">
    <div id="teamCarousel4" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/img/autentics-photo-slides/10.webp" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/autentics-photo-slides/11.webp" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/autentics-photo-slides/12.webp" alt="Third slide">
        </div>
      </div>

      <a class="carousel-control-prev" role="button" data-bs-target="#teamCarousel4" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" role="button" data-bs-target="#teamCarousel4" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>

<div class="row row-sales">
  <h3>Sale Highlights</h3>
  <div class="all-sales">
    <div class="one-sale">
      <img src="assets/img/sale/sale1.webp">
      <div class="text">
        <p>Valterrri Bottas 2022 Signed Cap</p>
        <span class="red-span">$149</span><br>
        <span class="black-span">$199.00</span><br>
        <button>sale</button>
      </div>
    </div>
    <div class="one-sale">
      <img src="assets/img/sale/sale2.webp">
      <div class="text">
        <p>Fernando Alonso Signed Alpine Bodywork & Photo Britain 2022</p>
        <span class="red-span">$299</span><br>
        <span class="black-span">$399.00</span><br>
        <button>sale</button>
      </div>
    </div>
    <div class="one-sale">
      <img src="assets/img/sale/sale3.webp">
      <div class="text">
        <p>Lance Stroll 2022 Signed 1:2 Scale Helmet </p>
        <span class="red-span">$149</span><br>
        <span class="black-span">$299.00</span><br>
        <button>sale</button>
      </div>
    </div>
    <div class="one-sale">
      <img src="assets/img/sale/sale4.webp">
      <div class="text">
        <p>Mick Schumacher 2022 Signed Official Replica Race Suit</p>
        <span class="red-span">$1499</span><br>
        <span class="black-span">$1,999.00</span><br>
        <button>sale</button><br>
        <span class="span-limited"><i class="bi bi-stopwatch"></i>LIMITED STOCK</span>
      </div>
    </div>

  </div>
</div>