<div class="row tickets-navigation">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarNav">
        <img src="assets/img/f1_logo.svg">
        <h1>Tickets</h1>
        <ul class="navbar-nav">
        <li class="nav-item li-countries">
            <a>F1 Calendar<i class="bi bi-chevron-down"></i></a>
        
            <div class="drop-down-countries">
                <h1>2023 SEASON</h1>
                    <table class="table">
                        <tbody>
                          <tr>
                            <td><img src="assets/img/countries/2-1 .jpg"><span>Bahrain</span></td>
                            <td><img src="assets/img/countries/4.png"><span>Imola</span></td>
                            <td><img src="assets/img/countries/10.png"><span>Great Britain</span></td>
                            <td><img src="assets/img/countries/singapur.png"><span>Singapore</span></td>
                            <td><img src="assets/img/countries/brazil.webp"><span>Brazil</span></td>
                          </tr>
                          <tr>
                            <td><img src="assets/img/countries/1.png"><span>Saudi Arabia</span></td>
                            <td><img src="assets/img/countries/7.png"><span>Monaco</span></td>
                            <td><img src="assets/img/countries/hungary.png"><span>Hungary</span></td>
                            <td><img src="assets/img/countries/japan.png"><span>Japan</span></td>
                            <td><img src="assets/img/countries/5.png"><span>Las Vegas</span></td>
                          </tr>
                          <tr>
                            <td><img src="assets/img/countries/3.jpg"><span>Australia</span></td>
                            <td><img src="assets/img/countries/6.png"><span>Spain</span></td>
                            <td><img src="assets/img/countries/belgium.png"><span>Belgium</span></td>
                            <td><img src="assets/img/countries/qatar.png"><span>Qatar</span></td>
                            <td><img src="assets/img/countries/abu-dhabi.png"><span>Abu Dhabi</span></td>
                          </tr>
                          <tr>
                            <td><img src="assets/img/countries/8.png"><span>Azerbaijan</span></td>
                            <td><img src="assets/img/countries/9.png"><span>Canada</span></td>
                            <td><img src="assets/img/countries/holandija.jpg"><span>Netherlands</span></td>
                            <td><img src="assets/img/countries/5.png"><span>United States</span></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><img src="assets/img/countries/5.png"><span>Miami</span></td>
                            <td><img src="assets/img/countries/austria.webp"><span>Austria</span></td>
                            <td><img src="assets/img/countries/4.png"><span>Italy</span></td>
                            <td><img src="assets/img/countries/mexico.webp"><span>Mexico</span></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
            </div>
     
        </li>
        <li class="nav-item"><a>FAQs</a></li>
        <li class="nav-item"><a>Contact Us</a></li>
        </ul>
        <div class="i-group">
            <i class="bi bi-person"></i>
            <i class="bi bi-bag"></i>
            <span>EN - $
                <i class="bi bi-caret-down-fill"></i>

                <div class="paying-in">

                    <form>
                        <div class="select">
                            <label for="">Language</label>
                            <select>
                              <option value="0">En English</option>
                              <option value="1">en English</option>
                              <option value="2">fr Français</option>
                              <option value="3">es Español</option>
                              <option value="4">it Italiano</option>
                              <option value="5">de Deutch</option>
                              <option value="6">nl Nederlands</option>
                            </select>
                          </div>
                          <div class="select">
                            <label for="">Currency</label>
                            <select>
                              <option value="0">$ Dollar:</option>
                              <option value="1">Dollar</option>
                              <option value="2">Euro</option>
                              <option value="3">Poun</option>
                              <option value="4">Australian D...</option>
                              <option value="5">Canadian D...</option>
                              <option value="6">Yen</option>
                              <option value="7">Singapore D...</option>
                            </select>
                          </div>

                          <button type="button">CONFIRM</button>
                      </form>
                </div>
            </span>
        </div>
      </div>
    </nav>
</div>

<div class="banner">
    <div>
        <h1>F1® TICKETS RACE CALENDAR</h1>
        <span>Share: <i class="bi bi-facebook"></i><i class="bi bi-twitter"></i></span>
    </div>
</div>


<div class="wrap-tickets-container">
    <div class="headline">
        <h1>2023 FIA FORMULA ONE WORLD CHAMPIONSHIP</h1>
        <div class="help-needed">
            <span>Need help?</span>
            <span><i class="bi bi-telephone"></i>+44 20 3984 9372</span>
            <i class="bi bi-envelope"></i>
            <i class="bi bi-envelope"></i>
        </div>
    </div>
    <hr>
    <div class="tickets-container">
        <div class="big-photo">
            <div class="big-black-div">
                <div class="wrap-black-div-context">
                    <div class="wrap-race-info">
                        <img src="assets/img/countries/2-1 .jpg">
                        <div class="short-race-info">
                            <div class="race-name">FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2023</div>
                            <span class="first-span">Sakhir Circuit</span><span>03 - 05 Mar</span>
                        </div>
                    </div>
                    <div class="price">
                        <hr>
                        <div><span class="first-span">From</span> <span>195.62 €</span></div>
                        <hr>
                    </div>
                    <button>BOOK NOW</button>
                </div>
            </div>
            <img src="assets/img/tickets/1.jpeg">

            <div class="wrap-race-info">
                <img src="assets/img/countries/2-1 .jpg">
                <div>
                    <p>FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2023</p>
                    <small>Sakhir Circuit 03 - 05 Mar</small>
                </div>
            </div>
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/1.png">
                <div class="race-name">FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2023</div>
                <span class="first-span">Jeddah Circuit</span><span>17 - 19 Mar</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>26.02 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/2.jpeg">
            <p>FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2023</p>
            <img src="../assets/img/countries/1.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/3.jpg">
                <div class="race-name">FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2023</div>
                <span class="first-span">Albert Park Circuit</span><span>30 Mar - 02 Apr</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>351.34 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/3.jpeg">
            <p>FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2023</p>
            <img src="../assets/img/countries/3.jpg">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/8.png">
                <div class="race-name">FORMULA 1 AZERBAIJAN GRAND PRIX 2023</div>
                <span class="first-span">Baku Circuit</span><span>28 - 30 Apr</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>83.14 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/4.jpeg">
            <p>FORMULA 1 AZERBAIJAN GRAND PRIX 2023</p>
            <img src="../assets/img/countries/8.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/5.png">
                <div class="race-name">FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2023</div>
                <span class="first-span">Hard Rock Stadium</span><span>05 - 07 May</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>1711.65 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/5.jpeg">
            <p>FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2023</p>
            <img src="../assets/img/countries/5.png">
        </div>

        <div class="small-photo mt-2">
            <div class="black-div">
                <img src="assets/img/countries/4.png">
                <div class="race-name">FORMULA 1 GRAN PREMIO DEL MADE IN ITALY E DELL'EMILIA-ROMAGNA 2023</div>
                <span class="first-span">Autodromo Enzo e Dino Ferrari</span><span>19 - 21 May</span>
                <button>VIEW MORE</button>
            </div>
            <img src="assets/img/tickets/6.jpeg">
            <p>FORMULA 1 GRAN PREMIO DEL MADE IN ITALY E DELL'EMILIA-ROMAGNA 2023</p>
            <img src="assets/img/countries/4.png">
        </div>

        <div class="small-photo mt-2">
            <div class="black-div">
                <img src="assets/img/countries/7.png">
                <div class="race-name">FORMULA 1 GRAND PRIX DE MONACO 2023</div>
                <span class="first-span">Circuit de Monaco</span><span>25 - 28 May</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>40 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/7.jpeg">
            <p>FORMULA 1 GRAND PRIX DE MONACO 2023</p>
            <img src="assets/img/countries/7.png">
        </div>

         <div class="small-photo mt-2">
            <div class="black-div">
                <img src="assets/img/countries/6.png">
                <div class="race-name">FORMULA 1 GRAN PREMIO DE ESPAÑA 2023</div>
                <span class="first-span">Circuit de Barcelona-Catalunya</span><span>02 - 04 Jun</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>65 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/8.jpeg">
            <p>FORMULA 1 GRAN PREMIO DE ESPAÑA 2023</p>
            <img src="assets/img/countries/6.png">
        </div>

        <div class="small-photo mt-2">
            <div class="black-div">
                <img src="assets/img/countries/9.png">
                <div class="race-name">FORMULA 1 GRAND PRIX DU CANADA 2023</div>
                <span class="first-span">Circuit Gilles-Villeneuve</span><span>16 - 18 Jun</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span> €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/9.jpeg">
            <p>FORMULA 1 GRAND PRIX DU CANADA 2023</p>
            <img src="assets/img/countries/9.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/austria.webp">
                <div class="race-name">FORMULA 1 GROSSER PREIS VON ÖSTERREICH 2023</div>
                <span class="first-span">Red Bull Ring - Spielberg</span><span>30 Jun - 02 Jul</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>95 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/10.jpeg">
            <p>FORMULA 1 GROSSER PREIS VON ÖSTERREICH 2023</p>
            <img src="assets/img/countries/austria.webp">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/10.png">
                <div class="race-name">FORMULA 1 ARAMCO BRITISH GRAND PRIX 2023</div>
                <span class="first-span">Silverstone Circuit</span><span>07 - 09 Jul</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>2299.67 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/11.jpeg">
            <p>FORMULA 1 ARAMCO BRITISH GRAND PRIX 2023</p>
            <img src="assets/img/countries/10.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/hungary.png">
                <div class="race-name">FORMULA 1 HUNGARIAN GRAND PRIX 2023</div>
                <span class="first-span">Hungaroring Circuit</span><span>21 - 23 Jul</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>125 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/12.jpeg">
            <p>FORMULA 1 HUNGARIAN GRAND PRIX 2023</p>
            <img src="assets/img/countries/hungary.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/belgium.png">
                <div class="race-name">FORMULA 1 BELGIAN GRAND PRIX 2023</div>
                <span class="first-span">Circuit de Spa-Francorchamps</span><span>28 - 30 Jul</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>26.02 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/13.jpeg">
            <p>FORMULA 1 BELGIAN GRAND PRIX 2023</p>
            <img src="assets/img/countries/belgium.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/holandija.jpg">
                <div class="race-name">FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2023</div>
                <span class="first-span">Circuit Zandvoor</span><span>25 - 27 Aug</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>26.02 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/14.jpeg">
            <p>FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2023</p>
            <img src="assets/img/countries/holandija.jpg">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/4.png">
                <div class="race-name">FORMULA 1 GRAN PREMIO D'ITALIA 2023</div>
                <span class="first-span">Monza Autodromo</span><span>01 - 03 Sep</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>120 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/15.jpeg">
            <p>FORMULA 1 GRAN PREMIO D'ITALIA 2023</p>
            <img src="../assets/img/countries/4.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/singapur.png">
                <div class="race-name">FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX 2023</div>
                <span class="first-span">Singapore circuit</span><span>15 - 17 Sep</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>115.26 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/16.jpeg">
            <p>FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX 2023</p>
            <img src="assets/img/countries/singapur.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/japan.png">
                <div class="race-name">FORMULA 1 LENOVO JAPANESE GRAND PRIX 2023</div>
                <span class="first-span">Suzuka Circuit</span><span>22 - 24 Sep</span>
                <button>VIEW MORE</button>
            </div>
            <img src="assets/img/tickets/17.jpeg">
            <p>FORMULA 1 LENOVO JAPANESE GRAND PRIX 2023</p>
            <img src="assets/img/countries/japan.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/qatar.png">
                <div class="race-name">FORMULA 1 QATAR GRAND PRIX 2023</div>
                <span class="first-span">Lusail International Circuit</span><span>06 - 08 Oct</span>
                <button>VIEW MORE</button>
            </div>
            <img src="assets/img/tickets/18.jpeg">
            <p>FORMULA 1 QATAR GRAND PRIX 2023</p>
            <img src="assets/img/countries/qatar.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/5.png">
                <div class="race-name">FORMULA 1 LENOVO UNITED STATES GRAND PRIX 2023</div>
                <span class="first-span">Circuit of the Americas</span><span>20 - 22 Oct</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>1305.75 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/19.jpeg">
            <p>FORMULA 1 LENOVO UNITED STATES GRAND PRIX 2023</p>
            <img src="assets/img/countries/5.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/mexico.webp">
                <div class="race-name">FORMULA 1 GRAN PREMIO DE LA CIUDAD DE MÉXICO 2023</div>
                <span class="first-span">Hermanos Rodriguez Circuit</span><span>27 - 29 Oct</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span>1075.9 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img class="mexico-img" src="assets/img/tickets/mex.webp">
            <p>FORMULA 1 GRAN PREMIO DE LA CIUDAD DE MÉXICO 2023</p>
            <img src="assets/img/countries/mexico.webp">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/1.png">
                <div class="race-name">FORMULA 1 ROLEX GRANDE PRÊMIO DE SÃO PAULO 2023</div>
                <span class="first-span">Interlagos Circuit</span><span>03 - 05 Nov</span>
                <button>VIEW MORE</button>
            </div>
            <img src="assets/img/tickets/20.jpeg">
            <p>FORMULA 1 ROLEX GRANDE PRÊMIO DE SÃO PAULO 2023</p>
            <img src="assets/img/countries/1.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/5.png">
                <div class="race-name">FORMULA 1 HEINEKEN SILVER LAS VEGAS GRAND PRIX 2023</div>
                <span class="first-span">Las Vegas Circuit</span><span>16 - 18 Nov</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span> €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/21.jpeg">
            <p>FORMULA 1 HEINEKEN SILVER LAS VEGAS GRAND PRIX 2023</p>
            <img src="assets/img/countries/5.png">
        </div>

        <div class="small-photo">
            <div class="black-div">
                <img src="assets/img/countries/abu-dhabi.png">
                <div class="race-name">FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX 2023</div>
                <span class="first-span">Yas Marina Circuit</span><span>24 - 26 Nov</span>
                <div class="price">
                    <hr>
                    <div class=""><span class="first-span">From</span> <span> 630.87 €</span></div>
                    <hr>
                </div>
                <button>BOOK NOW</button>
            </div>
            <img src="assets/img/tickets/22.jpeg">
            <p>FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX 2023</p>
            <img src="assets/img/countries/abu-dhabi.png">
        </div>
    
    </div>
</div>

  