@import "../../../shared/shared";
@include team();


.main {
    
    .first-section {
        .left-col {
            table {
                tr {
                    img {
                        height: 80px;
                        width: 260px;
                    }
                }
            }
        }
    }


    .fifth-section {
        .also-divs {
            .also-div {

                &:first-child {
                    img {
                        object-fit: cover;
                    }
                }

                &:nth-child(2) {
                    img {
                        object-fit: fill;
                    }
                }
            }
        }
    }
}